@font-face {
    font-family: 'ralewayblack';
    src: url('../fonts/Raleway-Black-webfont.eot');
    src: url('../fonts/Raleway-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Black-webfont.woff2') format('woff2'),
         url('../fonts/Raleway-Black-webfont.woff') format('woff'),
         url('../fonts/Raleway-Black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?18975257');
  src: url('../fonts/fontello/fontello.eot?18975257#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff?18975257') format('woff'),
       url('../fonts/fontello/fontello.ttf?18975257') format('truetype'),
       url('../fonts/fontello/fontello.svg?18975257#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}