.footer{
	font-size: 14px;
	padding-bottom: 20px;
	
	.disney{
		margin: 20px 0;
	}

	.foo-nav{
		margin-bottom: 20px;
		li{
			display: inline-block;
			vertical-align: top;
			margin: 0 15px;

			@include brk($max: 768px) {
				display: block;
				margin-bottom: 10px;
			};
		}

		a{
			text-decoration: none;

			&:hover{
				text-decoration: underline;
			}
		}
	}

	.copy{
			
		padding: 0 36px;

		p{
			margin: 0 0 5px;
		}
	}
}

.dsn-share{
	padding: 20px 0;
	text-align: center;

	.socials-link{
		
		display: inline-block;
		vertical-align: middle;
		margin: 0 3px;
		text-decoration: none;
		line-height: 1;

	
		&:before{
			backface-visibility: hidden;
			transition: all .2s ease;
			display: block;
			width: 18px;
			height: 18px;
			color: #fff;
			font-size: 20px;
			font-family: 'fontello';
		}

		&.fb:before { 
			content: '\e800'; 
		}
		&.tw:before { 
			content: '\e801'; 
		}
		&.odn:before { 
			content: '\e802';
			font-size: 18px;
			margin: 2px 0 0 0; 
		}
		&.ytb:before { 
			content: '\e803'; 
		}
		&.inst:before { 
			content: '\e804'; 
		}

		&:hover{
			&:before{
				transform: scale(1.05);
			}
		}
	}
}

.horse{
	.h-body{
		display: inline-block;
		vertical-align: top;
		width: 160px;
		height: 189px;
		position: relative;
		background:  url('../images/bf.png') 0 0 no-repeat;
	}

	.h-eye{
		display: block;
		position: absolute;
		top: 66px;
		right: 19px;
		opacity: 0;
		animation:  horse-eyes 3.5s infinite;
		@include sprite($eye-close);
	}
}


@keyframes horse-eyes {
  0%   { opacity: 0; }
  3%   { opacity: 1; }
  7%   { opacity: 0; }
  12%  { opacity: 1; }
  20%  { opacity: 0; }
  100% { opacity: 0; }
}