.gallery-popup{
	z-index: 10001;
	position: fixed;
	height: 100%;
	max-width: 90%;
	left: 50%;
	top: 50px;
	opacity: 0;
	visibility: hidden;
	transform: translate(-50%, 0);
	user-select:none;

	& * {
		user-select:none;
	}

	&.show{
		opacity: 1;
		visibility: visible;
	}

	.slides{
		text-align: center;
		position: relative;

		.item{
			margin: 0 auto;
			vertical-align: top;
			position: relative;
			display: none;
	
			img{
				display: block;
				margin: 0 auto;
				position: relative;
				max-width: 100%;
				box-shadow: 0 0 20px rgba(#000, .9);
			}

			.inner{
				display: inline-block;
				vertical-align: top;
				position: relative;
				max-height: 100%;
			}

			&.visible{
				display: inline-block;
			}
		}
	}

	.thumbs{
		text-align: center;
		padding: 20px 0;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);

		.thumbs-list{
			margin: 0;
			padding: 0;
			font-size: 0;
			list-style-type: none;
			white-space: nowrap;

			img{
				display: block;
				width: 50px;
				position: relative;
				backface-visibility: hidden;
			}
		}

		.item{
			display: inline-block;
			vertical-align: top;
			height: 85px;
			border: 3px solid transparent;
			margin: 0 3px 3px;
			overflow: hidden;
			cursor: pointer;
			transition: all .1s ease;
			opacity: .5;

			&.active{
				opacity: 1;
				border-color: #fff;
			}

			&:hover{
				opacity: 1;
			}
		}
	}


	.arr-prev, .arr-next{
		position: absolute;
		top: 50%;
		width: 32px;
		height: 64px;
		cursor: pointer;
		overflow: hidden;
		margin-top: -28px;
		transition: all .2s ease;

		&:before, &:after{
			display: block;
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background: #fff;
			transform-origin: 0 94%;
			top: 50%;
			left: 3px;
			margin-top: -2px;
			transition: all .2s ease;
		}		

		&:before{
			transform: rotate(-45deg);
		}

		&:after{
			transform: rotate(45deg);
		}


		&:hover{

			&:before, &:after{
				background: #f2ce82;
			}		

		}
	}

	.arr-prev{
		left: -87px;
	}



	.arr-next{
		right: -87px;

		&:before, &:after{
			transform-origin: 98% 0;
			left: auto;
		}
		&:before{
			margin: 0;
		}

		&:after{
			margin: 0px 0px 0 0;
		}

	}



}

.overlay{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(#000, .8);
	opacity: 0;
	visibility: hidden;

	.gallery-popup.show ~ & {
		opacity: 1;
		visibility: visible;
	}

}

.close{
	position: absolute;
	right: -39px;
	top: -39px;
	width: 23px;
	height: 23px;
	cursor: pointer;

	&:before, &:after{
		display: block;
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		left: 0;
		top: 50%;
		background: #fff;
		transition: all .2s ease;
	}

	&:hover{
		&:before, &:after{
			background: #f2ce82;
		}
	}

	&:hover{
		&:before{
			transform: rotate(-45deg);
		}
	}

	&:hover{
		&:after{
			transform: rotate(45deg);
		}
	}


	&:before{
		transform: rotate(45deg);
	}
	
	&:after{
		transform: rotate(-45deg);
	}
}