.mobile-anchors{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: #fff;
	height: 55px;
	text-align: center;
	font-size: 0;
	display: none;
	margin-top: 0;
	z-index: 20;
 	

	@include brk($max: 768px) {
		display: block;
	};

	ul{
		overflow: hidden;
		height: 55px;
	}


	li{
		display: inline-block;
		vertical-align: top;
		width: 50px;
		line-height: 55px;
		opacity: 1;

		&.hidden{
			margin-left: -50px;
			opacity: 0;
		}

		.icon{
			display: inline-block;
			vertical-align: middle;
		}

		&.active{
			.icon{
				fill: #fff !important;
			}
		}

	}

		a{
			display: inline-block;
			vertical-align: middle;

			.lt-ie9 &{
				svg{
					display: none;
				}
			}
		}

		.item-index{
			a{
				.icon{
					width: $mobile-index-width;
					height: $mobile-index-height;
					fill: #9D71DC;
				}
				.lt-ie9 &{
					@include sprite($mobile-index);
				}
			}
		}

		.item-video{
	 		a{
	 			.lt-ie9 &{
					@include sprite($s-video-active);
	 			}

	 			.icon{
	 				width: $s-video-active-width;
	 				height: $s-video-active-height;
	 				fill: #2bbc9c;
	 			}
			}

			&.active{
				background: #2bbc9c;

				a{
					.lt-ie9 & {
						@include sprite($mobile-video-active);
					}
				}
			}

		}
		.item-joy{

	 		a{
	 			.lt-ie9 &{
					@include sprite($s-joy-active);
	 			}

	 			.icon{
	 				width: $s-joy-active-width;
	 				height: $s-joy-active-height;
	 				fill: #ffd40c;
	 			}
			}

			&.active{
				background: #ffd40c;

				a{
					.lt-ie9 & {
						@include sprite($mobile-joy-active);
					}
				}

			}
		}
		.item-sadness{

	 		a{
	 			.lt-ie9 &{
					@include sprite($s-sorrow-active);
	 			}

	 			.icon{
	 				width: $s-sorrow-active-width;
	 				height: $s-sorrow-active-height;
	 				fill: #559de7;
	 			}
			}

			&.active{
				background: #559de7;

				a{
					.lt-ie9 & {
						@include sprite($mobile-sorrow-active);
					}
				}
			}

		}      
		.item-anger{
	 		a{
	 			.lt-ie9 &{
					@include sprite($s-anger-active);
	 			}

	 			.icon{
	 				width: $s-anger-active-width;
	 				height: $s-anger-active-height;
	 				fill: #e92f2a;
	 			}
			}

			&.active{
				background: #e92f2a;

				a{
					.lt-ie9 & {
						@include sprite($mobile-anger-active);
					}
				}
			}
		}
		.item-disgust{

	 		a{
	 			.lt-ie9 &{
					@include sprite($s-aversion-active);
	 			}

	 			.icon{
	 				width: $s-aversion-active-width;
	 				height: $s-aversion-active-height;
	 				fill: #84c056;
	 			}
			}

			&.active{
				background: #84c056;

				a{
					.lt-ie9 & {
						@include sprite($mobile-aversion-active);
					}
				}

			}
		}
		.item-fear{

	 		a{
	 			.lt-ie9 &{
					@include sprite($s-fear-active);
	 			}

	 			.icon{
	 				width: $s-fear-active-width;
	 				height: $s-fear-active-height;
	 				fill: #a06ea9;
	 			}
			}

			&.active{
				background: #a06ea9;

				a{
					.lt-ie9 & {
						@include sprite($mobile-fear-active);
					}
				}

			}
		}

		.item-posters{

	 		a{
	 			.lt-ie9 &{
					@include sprite($s-posters-active);
	 			}

	 			.icon{
	 				width: $s-posters-active-width;
	 				height: $s-posters-active-height;
	 				fill: #ed9415;
	 			}
			}

			&.active{
				background: #ed9415;

				a{
					.lt-ie9 & {
						@include sprite($mobile-posters-active);
					}
				}

			}
		}
		.item-about{

	 		a{
	 			.lt-ie9 &{
					@include sprite($s-about-active);
	 			}

	 			.icon{
	 				width: $s-about-active-width;
	 				height: $s-about-active-height;
	 				fill: #1fbec8;
	 			}
			}

			&.active{
				background: #1fbec8;

				a{
					.lt-ie9 & {
						@include sprite($mobile-about-active);
					}
				}
			}
		}
		.item-movies{

	 		a{
	 			.lt-ie9 &{
					@include sprite($movies-active);
	 			}

	 			.icon{
					  width: 17px;
					  height: 22px;
	 				fill: #d57bb8;
	 			}
			}

			&.active{
				background: #d57bb8;

				a{
					.lt-ie9 & {
						@include sprite($movies-active);
					}
				}

			}
		}
		.item-game{

	 		a{
	 			.lt-ie9 &{
					@include sprite($movies-active);
	 			}

	 			.icon{
					width: 24px;
					height: 18px;
	 				fill: #ffd200;
	 			}
			}

			&.active{
				background: #ffd200;

				a{
					.lt-ie9 & {
						@include sprite($movies-active);
					}
				}

			}
		}

		.item-footer{
			display: none;
		}

}