.movies-list{
    font-size: 0;
    overflow: hidden;
    text-align: center;

    @include brk($max: 992px, $min: 768px) {
        padding-right: 20px;
        margin-left: -2%;
    };


    .item{
        display: inline-block;
        vertical-align: top;
        width: 31.3%;
        margin-left: 2%;
        margin-bottom: 24px;
        background: rgba(#000, .2);
        text-align: left;
        position: relative;

        @include brk($max: 992px) {
            width: 48%;
        };

        @include brk($max: 768px) {
           width: 100%;
           margin-left: 0;
        };

        .image{
            float: left;
            width: 45%;

            img{
                width: 100%;
            }
        }

        .data{
            overflow: hidden;
            margin-left: 45%;
            font-size: 12px;
            color: #d79ebf;
            padding: 10px 5px 10px 12px;
    
            .t{
                font-size: 15px;
                color: #fff;
            }

            .eng-t{
                margin-bottom: 7px;
            }

            .year{
                margin-bottom: 3px;
            }

            .time{
                margin-bottom: 3px;
            }

            .old-item{
                margin-bottom: 5px;
            }

            .rating{
                margin: 0 0 10px -2px;
            }
        }

        
        .rating{

            

            .icon-star{
                margin-left: 2px;
                width: 15px;
                height: 15px;
                fill: #bc876a;

                &.star-full{
                    fill: #EAAB08;
                }
            }
            

        }

        .tunec{
            width: 110px;
            height: 40px;
            display: inline-block;
            vertical-align: top;
            background:  url('../images/tunec.png') 0 0 no-repeat;
            background-size: cover;
            transition: opacity .2s ease;
            position: absolute;
            left: 49%;
            bottom: 8px;

            @include brk($max: 768px) {
                position: relative;
                left: auto;
                bottom: auto;
            };

            &:hover{
                opacity: .8;
            }
        }
    }

    &.partners{
        .item{
            background: none;
            text-align: center;

            img{
                display: inline-block;
                vertical-align: top;
            }
        }
    }
}