// Section - 9
.section-9{
 	
 	.carousel-block{
 		max-width: 745px;
 		margin: 0 auto 40px;
 		position: relative;
	 	user-select:none;

	 	& * {
	 		user-select:none;
	 	}


 		.carousel{
 			margin: 0 auto;

	 		@include brk($min: 768px, $max: 992px) {
	 			position: relative;
	 			left: -15px;
	 			padding-left: 35px;
	 		};

 		}

 		@include brk($max: 992px) {
 			text-align: center;
 			max-width: inherit;

			.item{
				display: inline-block;
				vertical-align: top;
			}
 		};

 	}
}

.carousel-section{
	margin-left: 0;
 	margin-right: 0;

	.section-title{
		margin: 83px 59px 48px 0;

		@include brk($max: 992px) {
			margin-right: 0;
			margin-top: 53px;
			margin-bottom: 38px;
		};
	}


	.item{
		padding: 15px;
	}

	.item-inner{
		background: #1e1545;
		border: 1px solid #5141a0;
		box-shadow: 0 0 10px rgba(#080a0b, .75);
		position: relative;
		overflow: hidden;
		transition: all .2s ease;
		backface-visibility:hidden;
		max-width: initial;

		.inn{
			position: relative;
			display: inline-block;
			vertical-align: top;
			overflow: hidden;
			-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
		}


		img{
			transition: all .2s ease;
			width: 100%;
			display: block;
			backface-visibility:hidden;
		}

		&[data-view="true"]{
			cursor: pointer;
			max-width: 215px;
			
			&:hover{
				img{
					transform: scale(1.02);
				}
			}
		}

		&[data-view="false"]{
			cursor: move;
		}
	}


	.owl-prev, .owl-next{
		position: absolute;
		top: 50%;
		width: 24px;
		height: 40px;
		cursor: pointer;
		overflow: hidden;
		margin-top: -20px;
		transition: all .2s ease;

 		@include brk($max: 992px) {
 			 opacity: 0;
 			 visibility: hidden;
 		};


		&:before, &:after{
			display: block;
			content: '';
			position: absolute;
			width: 100%;
			height: 4px;
			background: #fff;
			transform-origin: 0 94%;
			top: 50%;
			left: 3px;
			margin-top: -2px;
			transition: all .2s ease;
		}		

		&:before{
			transform: rotate(-45deg);
		}

		&:after{
			transform: rotate(45deg);
			margin: -4px 0 0 -2px;
		}


		&:hover:not(.disabled){

			&:before, &:after{
				background: #f2ce82;
			}		

		}

		&.disabled{
			opacity: .5;
			cursor: default;
		}
	}

	.owl-prev{
		left: -32px;
	}



	.owl-next{
		right: -32px;

		&:before, &:after{
			transform-origin: 94% 0;
			left: auto;
			right: 3px;
		}
		&:before{
			margin: 0;
		}

		&:after{
			margin: 0px -2px 0 0;
		}

	}

	@include brk($max: 992px) {

		.m-share{
			display: none;
			
			&.visible{
				display: block;
			}
		}

	};
}