

// Section -1

.section-1{
	text-align: center;
	
	.logo{
		position: absolute;
		left: 27px;
		top: 66px;

		@include brk($max: 992px) {
			position: relative;
			left: auto;
			top: auto;
			float: left;
			padding: 20px 20px 0;

			img{
				max-width: 253px;
			}
		};

		@include brk($max: 768px) {
			padding: 0 20px 0;

			img{
				max-width: 200px;
			}
		};


	}

	.persona{
		position: relative;
		padding-left: 22px;
		margin-top: 83px;
		margin-bottom: 22px;
		clear: both;

		@include brk($max: 992px) {
			margin-top: 0;
			padding-left: 0;
		};

		img{
			position: relative;
		}

		&:before{
			display: block;
			content: '';
			width: 100%;
			height: 401px;
			position: absolute;
			bottom: -150px;
			background:  url('../images/light-1.png') center 100% no-repeat;
		}

		.btn-row{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			text-align: center;
			z-index: 3;

			@include brk($max: 992px) {
				bottom: -55px;
			};
		}
	}

	.text{
		transition: all .2s ease;
		position: absolute;
		color: #fff;
		font-family: 'ralewayblack';
		text-transform: uppercase;
		text-align: left;
		text-shadow: 0 5px 10px rgba(#000, .3);

		.f{
			font-family: 'PT Sans', sans-serif;
			font-weight: bold;
		}

		.span-1, .span-2{
			display: block;
		}
	}

	.text-1{
		font-size: 30px;
		transform: rotate(-20deg);
		margin: 13px 0 0 0px;


		@include brk($max: 992px) {
			font-size: 18px;
			right: 20px;
			top: 60%;
			margin: 0;
		};


		.span-1{
			padding-left: 17px;
		}

		.span-2{
			margin: 1px 0 0 -3px;
		}
	}
	

	.text-2{
		font-size: 38px;
		transform: rotate(-20deg);
		  right: 61px;
		  bottom: 152px;

		.old-text{
			display: none;
		}

		.old-svg{
			position: absolute;
			right: 5px;
			top: -62px;

			svg{
				width: 51px;
				height: 51px;
				fill: rgba(#fff, .3);
			}
		}  

		.lt-ie9 &{
			.old-text{
				display: block;
			}
		}

		.old{
			position: absolute;
			font-size: 20px;
			font-family: 'PT Sans', sans-serif;
			font-weight: normal;
			border: 2px solid #fff;
 			border-radius: 100%;
			width: 42px;
			height: 42px;
			text-align: center;
			line-height: 42px;
			right: 5px;
			top: -62px;
			box-shadow: 0 5px 10px rgba(#000, .3);
			.f{
				font-weight: normal;
				position: relative;
				left: 3px;
				top: -3px;

				span{
					font-size: 13px;
					position: relative;
					left: -3px;
					top: -2px;
				}
			}
		}

		.span-1{
			 font-size: 54px;
			 margin: 0 0 -4px;
		}

		.span-2{
			 font-size: 38px;
		}


		@include brk($max: 992px) {
			position: relative;
			right: auto;
			bottom: auto;
			transform: rotate(0deg);
			text-align: center;

			.spans{
				display: inline-block;
				vertical-align: top;
				position: relative;
			}

			.span-1, .span-2{
				display: inline-block;
				vertical-align: top;
				margin: 0 10px;
				padding: 0;
				font-size: 38px;
			}
		};


	}
}