.section-navigation{
	position: fixed;
	left: 10%;
	top: 50%;
	width: 60px;
	padding: 0;
	z-index: 10;
	transition: opacity .2s ease;

	&.hidden{
		visibility: hidden;
		opacity: 0;
	}

	@include brk($max: 768px) {
		display: none;
	};


	ul{
		li{
			text-align: center;
			margin: 8px 0 0;

			&:first-child{
				margin-top: 0;
			}
			span{
				display: none;
			}

			a{
				position: relative;
				display: inline-block;
				vertical-align: middle;
 				
 				svg{
 					fill: rgba(#fff, .5);
 					transition: all .2s ease;
 					transform:scale(.75);
					.lt-ie9 & {
						display: none;
					}
 				}			
			}

			&:not(.active):hover{
				a{
					svg{
						fill: #fff !important;
						transform: scale(1);
					}
				}
			}

			&.active{
				a{
					cursor: default;
				}
			}




			&.item-footer{
				display: none;
			}
		}

		.item-index{
			a{
				.lt-ie9 & {
					@include sprite($s-index);
				}

			}

			svg{
				width: 24px;
				height: 37px;
			}

			&.active{
				svg{
					fill: #9D71DC;

				}
			}
		}

		.item-video{
			a{
				.lt-ie9 & {
					@include sprite($s-video);
				}
			}

			svg{
				width: $s-video-width;
				height: $s-video-height;
			}

			&.active{
				svg{
					fill:#2bbc9c;
				}
			}

		}
		.item-joy{
			a{
				.lt-ie9 & {
					@include sprite($s-joy);
				}

			}

			svg{
				width: $s-joy-width;
				height: $s-joy-height;
			}

			&.active{
				svg{
					fill:#2082c4;
				}
			}

		}
		.item-sadness{
			a{
				.lt-ie9 & {
					@include sprite($s-sorrow);
				}

			}

			svg{
				width: $s-sorrow-width;
				height: $s-sorrow-height;
			}

			&.active{
				svg{
					fill:#d32828;
				}
			}

		}
		.item-anger{
			a{
				.lt-ie9 & {
					@include sprite($s-anger);
				}

			}

			svg{
				width: $s-anger-width;
				height: $s-anger-height;
			}

			&.active{
				svg{
					fill:#fff000;
				}
			}
		}
		.item-disgust{
			a{
				.lt-ie9 & {
					@include sprite($s-aversion);
				}

			}

			svg{
				width: $s-aversion-width;
				height: $s-aversion-height;
			}

			&.active{
				svg{
					fill:#941bcd;
				}
			}

		}
		.item-fear{
			a{
				.lt-ie9 & {
					@include sprite($s-fear);
				}

			}

			svg{
				width: $s-fear-width;
				height: $s-fear-height;
			}

			&.active{
				svg{
					fill:#29b716;
				}
			}
		}
		.item-bong{
			a{
				.lt-ie9 & {
					@include sprite($s-bong);
				}

			}

			svg{
				width: $s-bong-width;
				height: $s-bong-height;
			}

			&.active{
				svg{
					fill:#2bbc9c;
				}
			}
		}
		.item-posters{
			a{
				.lt-ie9 & {
					@include sprite($s-posters);
				}

			}

			svg{
				width: $s-posters-width;
				height: $s-posters-height;
			}

			&.active{
				svg{
					fill:#ff9c00;
				}
			}

		}
		.item-about{
			a{
				.lt-ie9 & {
					@include sprite($s-about);
				}
				
			}

			svg{
				width: $s-about-width;
				height: $s-about-height;
			}

			&.active{
				svg{
					fill:#7000c6;
				}
			}

		}
		.item-movies{
			a{
				.lt-ie9 & {
					@include sprite($movies);
				}

			}

			svg{
				width: $movies-width;
				height: $movies-height;
			}

			&.active{
				svg{
					fill:#4a37ff;
				}
			}

		}
		.item-game{
			a{
				.lt-ie9 & {
					@include sprite($game);
				}

			}

			svg{
				width: $game-width;
				height: $game-height;
			}

			&.active{
				svg{
					fill:#ffd200;
				}
			}

		}
	}
}