.global-wrapper{
	max-width: 100%;
	overflow: hidden;
}

.container{
	max-width: 1024px;
	margin: 0 auto;
}

.bd{
	@extend %clear;
	border: 1px solid transparent;
	position: relative;
 	margin: 50px 0;
}

.section{
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
}

.section-1, .section-2{
	background-image: url('../images/bg1.jpg');
}

.section-11{
	background-size: initial;
	background-repeat: repeat;
	background-image: url('../images/patt.png');
}


@for $i from 3 through 10 {
	.section-#{$i}{
		background-image: url('../images/bg#{$i}.jpg');
	}
}

@include brk ($max: 768px) {

	.section-1, .section-2{
		background-image: url('../images/mobile-bg1.jpg');
	}


	@for $i from 3 through 10 {
		.section-#{$i}{
			background-image: url('../images/mobile-bg#{$i}.jpg');
		}
	}

	@media (-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 

		.section-1, .section-2{
			background-image: url('../images/bg1.jpg');
		}

		@for $i from 3 through 10 {
			.section-#{$i}{
				background-image: url('../images/bg#{$i}.jpg');
			}
		}

	}



};


.section-title{
	text-align: center;
	margin: 52px 0 8px;
}

.inner-wrapper{
	margin-left: 60px;

	&.p-t{
		padding-top: 100px;
	}
 
	@include brk($max: 768px) {
		margin: 0 16px;
	};



}

.area{
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	background: #000;

	img, object, iframe{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		border: none;
	}
}

.persons-video-section{
	position: relative;
	padding: 16px 0 55px 70px;

	@include brk($max: 992px) {
		padding-left: 0;
		padding-right: 48px;
	};

	@include brk($max: 768px) {
		padding-right: 0;
	};


	.section-title{
		margin-bottom: 17px;
		margin-left: -130px;

		@include brk($max: 992px) {
			margin-left: 0;
		};

	}
 	
	.persona{
		position: absolute;
		right: 0;
		top: 0;

		@include brk($max: 992px) {
			position: relative;
			text-align: center;
			right: auto !important;
			top: auto !important;
			left: auto !important;
			bottom: auto !important;
		};

	}

	.video-section{
		width: 500px;
		position: relative;
		margin-bottom: 23px;


		@include brk($max: 992px) {
			width: 100%;
		};

	}

	.description{
		position: relative;
		line-height: 1.45;
		padding-right: 60px;



		@include brk($max: 992px) {
			padding-right: 0;
		};

	}
}

.section-10{
	height: auto !important;
}


.mhc{
	position: fixed !important;
	left: 0;
	width: 100%;
	z-index: 1000;
	top: -95px;
	margin: 0 !important;

	&.vis{
		top: 0;
	}	

	&.hide{
		top: -95px;
	}

}

.nav-arrows{
	position: fixed;
	z-index: 999;
	top: 65%;
	height: 76px;
	width: 48px;


	@include brk($max: 992px) {
		display: none;
	};

	.nav-arrow{
		cursor: pointer;
		overflow: hidden;
 		transition: all .2s ease;

 		&:hover{
 			transform: scale(1.1);
 			opacity: .8;
 		}

 		&.hide{
 			opacity: 0;
 			visibility: hidden;
 		}

	}

	.arrow-top{
		@include sprite($arr-top);
		margin-bottom: 4px;	
	}



	.arrow-bottom{
		@include sprite($arr-bot);
	}


}

.btn{
	display: inline-block;
	text-decoration: none;
	border: none;
	overflow: visible;
	color: #6e558b;
	text-transform: uppercase;
	background: linear-gradient(to bottom , #fff, #d3d7d6);
	padding: 12px 22px 10px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0 2px 7px rgba(#000, .5);
	font-family: 'ralewayblack';
	text-shadow:0 1px 0 #fff;

	&:hover{
		background: #fff;
	}
}

.height-auto{
	height: auto !important;

	.fp-tableCell{
		height: auto !important;
	}

	@include brk($max: 768px) {
		padding-top: 55px;
	};
}

.baner-img{
	min-width: 1920px;
	position: relative;
	left: 50%;
	margin-left: -960px;
}

.game-dsc{
	position: absolute;
	width: 280px;
	left: 50%;
	top: 70px;
	color: #fff;
	z-index: 2;
	margin-left: -35px;

	@include brk($max: 768px) {
		top: 120px;
	};


	.t{
		font-size: 15px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.t2{
		font-size: 25px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.btn{
		color: #0468a3;
	}
}