



.about{
	color: #fff;
	font-size: 22px;
	.about-block{

		position: relative;
		padding-left: 350px;
		padding-right: 60px;

		@include brk($max: 992px) {
			padding: 0;
		};


		.persona{
			position: absolute;
			left: 35px;
			top: -5px;

			@include brk($max: 992px) {
				display: block;
				margin: 20px auto;
				left: auto;
				top: auto;
				position: relative;
			};
		}

	}

	.small-p{
		color: #b1d9f0;
		font-size: 16px;
	}
}