.share{
	position: relative;
	font-size: 0;
	user-select:none;

	.share-link{
		display: inline-block;
		vertical-align: top;
		position: relative;
		border-radius: 3px;
		transition: all .2s ease;
		width: 40px;
		height: 40px;
		margin: 0 5px;
		cursor: pointer;
		user-select:none;

		&:before{
			display: block;
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			user-select:none;
		}

		&.odn{
			background: #ffac00;

			&:hover{
				background: darken(#ffac00, 10);
			}

			&:before{
				@include sprite($odn);
				margin-left: - $odn-width/2;
				margin-top: - $odn-height/2;
			}
		}
		&.fb{
			background: #3b5998;
			
			&:hover{
				background: darken(#3b5998, 10);
			}

			&:before{
				@include sprite($fb);
				margin-left: - $fb-width/2;
				margin-top: - $fb-height/2;
			}
		}
		&.tw{
			background: #02b0e8;

			&:hover{
				background: darken(#02b0e8, 10);
			}

			&:before{
				@include sprite($tw);
				margin-left: - $tw-width/2;
				margin-top: - $tw-height/2;
			}
		}

		&.print{
			background: #7cc343;

			&:hover{
				background: darken(#7cc343, 10);
			}

			&:before{
				@include sprite($print);
				margin-left: - $print-width/2;
				margin-top: - $print-height/2;
			}
		}
	}
}


.area-share{

	position: absolute;
	right: -60px;
	bottom: 10px;

	@include brk($max: 992px) {
		display: none;
	};


	.share{
		width: 60px;
		overflow: hidden;

		.share-link{
			display: block;
			margin: 0 0 10px;

			&:after{
				content: '';
				width: 40px;
				height: 100%;
				top: 0;
				right: 100%;
				margin-right: -5px;
				position: absolute;
				transition: all .2s ease;
				user-select:none;
			}


			&.odn{

				&:after{
					background: #ffac00;
				}

				&:hover{

					&:after{
						background: darken(#ffac00, 10);
					}
				}

			}
			&.fb{
 				
				&:after{
					background: #3b5998;
				}

				&:hover{
					
					&:after{
						background: darken(#3b5998, 10);
					}
				}

			}
			&.tw{
 
				&:after{
					background: #02b0e8;
				}

				&:hover{
					
					&:after{
						background: darken(#02b0e8, 10);
					}
				}

			}
			&.print{
 
				&:after{
					background: #7cc343;
				}

				&:hover{
					
					&:after{
						background: darken(#7cc343, 10);
					}
				}

			}

			&:hover{
				margin-left: 10px;
			}
		}
	}
}

.m-share{
	display: none;
	text-align: center;

	@include brk($max: 992px) {
		display: block;
	};
}