/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$about-name: 'about';
$about-x: 200px;
$about-y: 154px;
$about-offset-x: -200px;
$about-offset-y: -154px;
$about-width: 16px;
$about-height: 14px;
$about-total-width: 219px;
$about-total-height: 205px;
$about-image: '../images/sprite.png';
$about: (200px, 154px, -200px, -154px, 16px, 14px, 219px, 205px, '../images/sprite.png', 'about', );
$anger-name: 'anger';
$anger-x: 118px;
$anger-y: 132px;
$anger-offset-x: -118px;
$anger-offset-y: -132px;
$anger-width: 23px;
$anger-height: 20px;
$anger-total-width: 219px;
$anger-total-height: 205px;
$anger-image: '../images/sprite.png';
$anger: (118px, 132px, -118px, -132px, 23px, 20px, 219px, 205px, '../images/sprite.png', 'anger', );
$arr-bot-name: 'arr-bot';
$arr-bot-x: 0px;
$arr-bot-y: 26px;
$arr-bot-offset-x: 0px;
$arr-bot-offset-y: -26px;
$arr-bot-width: 48px;
$arr-bot-height: 36px;
$arr-bot-total-width: 219px;
$arr-bot-total-height: 205px;
$arr-bot-image: '../images/sprite.png';
$arr-bot: (0px, 26px, 0px, -26px, 48px, 36px, 219px, 205px, '../images/sprite.png', 'arr-bot', );
$arr-top-name: 'arr-top';
$arr-top-x: 93px;
$arr-top-y: 0px;
$arr-top-offset-x: -93px;
$arr-top-offset-y: 0px;
$arr-top-width: 48px;
$arr-top-height: 36px;
$arr-top-total-width: 219px;
$arr-top-total-height: 205px;
$arr-top-image: '../images/sprite.png';
$arr-top: (93px, 0px, -93px, 0px, 48px, 36px, 219px, 205px, '../images/sprite.png', 'arr-top', );
$aversion-name: 'aversion';
$aversion-x: 184px;
$aversion-y: 0px;
$aversion-offset-x: -184px;
$aversion-offset-y: 0px;
$aversion-width: 16px;
$aversion-height: 30px;
$aversion-total-width: 219px;
$aversion-total-height: 205px;
$aversion-image: '../images/sprite.png';
$aversion: (184px, 0px, -184px, 0px, 16px, 30px, 219px, 205px, '../images/sprite.png', 'aversion', );
$bong-name: 'bong';
$bong-x: 54px;
$bong-y: 100px;
$bong-offset-x: -54px;
$bong-offset-y: -100px;
$bong-width: 27px;
$bong-height: 32px;
$bong-total-width: 219px;
$bong-total-height: 205px;
$bong-image: '../images/sprite.png';
$bong: (54px, 100px, -54px, -100px, 27px, 32px, 219px, 205px, '../images/sprite.png', 'bong', );
$dsn-fb-name: 'dsn-fb';
$dsn-fb-x: 200px;
$dsn-fb-y: 0px;
$dsn-fb-offset-x: -200px;
$dsn-fb-offset-y: 0px;
$dsn-fb-width: 19px;
$dsn-fb-height: 17px;
$dsn-fb-total-width: 219px;
$dsn-fb-total-height: 205px;
$dsn-fb-image: '../images/sprite.png';
$dsn-fb: (200px, 0px, -200px, 0px, 19px, 17px, 219px, 205px, '../images/sprite.png', 'dsn-fb', );
$dsn-inst-name: 'dsn-inst';
$dsn-inst-x: 200px;
$dsn-inst-y: 17px;
$dsn-inst-offset-x: -200px;
$dsn-inst-offset-y: -17px;
$dsn-inst-width: 19px;
$dsn-inst-height: 17px;
$dsn-inst-total-width: 219px;
$dsn-inst-total-height: 205px;
$dsn-inst-image: '../images/sprite.png';
$dsn-inst: (200px, 17px, -200px, -17px, 19px, 17px, 219px, 205px, '../images/sprite.png', 'dsn-inst', );
$dsn-pint-name: 'dsn-pint';
$dsn-pint-x: 200px;
$dsn-pint-y: 62px;
$dsn-pint-offset-x: -200px;
$dsn-pint-offset-y: -62px;
$dsn-pint-width: 18px;
$dsn-pint-height: 17px;
$dsn-pint-total-width: 219px;
$dsn-pint-total-height: 205px;
$dsn-pint-image: '../images/sprite.png';
$dsn-pint: (200px, 62px, -200px, -62px, 18px, 17px, 219px, 205px, '../images/sprite.png', 'dsn-pint', );
$dsn-tw-name: 'dsn-tw';
$dsn-tw-x: 200px;
$dsn-tw-y: 95px;
$dsn-tw-offset-x: -200px;
$dsn-tw-offset-y: -95px;
$dsn-tw-width: 18px;
$dsn-tw-height: 16px;
$dsn-tw-total-width: 219px;
$dsn-tw-total-height: 205px;
$dsn-tw-image: '../images/sprite.png';
$dsn-tw: (200px, 95px, -200px, -95px, 18px, 16px, 219px, 205px, '../images/sprite.png', 'dsn-tw', );
$dsn-ytb-name: 'dsn-ytb';
$dsn-ytb-x: 200px;
$dsn-ytb-y: 79px;
$dsn-ytb-offset-x: -200px;
$dsn-ytb-offset-y: -79px;
$dsn-ytb-width: 18px;
$dsn-ytb-height: 16px;
$dsn-ytb-total-width: 219px;
$dsn-ytb-total-height: 205px;
$dsn-ytb-image: '../images/sprite.png';
$dsn-ytb: (200px, 79px, -200px, -79px, 18px, 16px, 219px, 205px, '../images/sprite.png', 'dsn-ytb', );
$eye-close-name: 'eye-close';
$eye-close-x: 200px;
$eye-close-y: 126px;
$eye-close-offset-x: -200px;
$eye-close-offset-y: -126px;
$eye-close-width: 18px;
$eye-close-height: 14px;
$eye-close-total-width: 219px;
$eye-close-total-height: 205px;
$eye-close-image: '../images/sprite.png';
$eye-close: (200px, 126px, -200px, -126px, 18px, 14px, 219px, 205px, '../images/sprite.png', 'eye-close', );
$eye-open-name: 'eye-open';
$eye-open-x: 132px;
$eye-open-y: 100px;
$eye-open-offset-x: -132px;
$eye-open-offset-y: -100px;
$eye-open-width: 25px;
$eye-open-height: 19px;
$eye-open-total-width: 219px;
$eye-open-total-height: 205px;
$eye-open-image: '../images/sprite.png';
$eye-open: (132px, 100px, -132px, -100px, 25px, 19px, 219px, 205px, '../images/sprite.png', 'eye-open', );
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 187px;
$fb-offset-x: 0px;
$fb-offset-y: -187px;
$fb-width: 9px;
$fb-height: 18px;
$fb-total-width: 219px;
$fb-total-height: 205px;
$fb-image: '../images/sprite.png';
$fb: (0px, 187px, 0px, -187px, 9px, 18px, 219px, 205px, '../images/sprite.png', 'fb', );
$fear-name: 'fear';
$fear-x: 184px;
$fear-y: 119px;
$fear-offset-x: -184px;
$fear-offset-y: -119px;
$fear-width: 12px;
$fear-height: 29px;
$fear-total-width: 219px;
$fear-total-height: 205px;
$fear-image: '../images/sprite.png';
$fear: (184px, 119px, -184px, -119px, 12px, 29px, 219px, 205px, '../images/sprite.png', 'fear', );
$game-name: 'game';
$game-x: 141px;
$game-y: 132px;
$game-offset-x: -141px;
$game-offset-y: -132px;
$game-width: 24px;
$game-height: 18px;
$game-total-width: 219px;
$game-total-height: 205px;
$game-image: '../images/sprite.png';
$game: (141px, 132px, -141px, -132px, 24px, 18px, 219px, 205px, '../images/sprite.png', 'game', );
$index-name: 'index';
$index-x: 0px;
$index-y: 0px;
$index-offset-x: 0px;
$index-offset-y: 0px;
$index-width: 93px;
$index-height: 26px;
$index-total-width: 219px;
$index-total-height: 205px;
$index-image: '../images/sprite.png';
$index: (0px, 0px, 0px, 0px, 93px, 26px, 219px, 205px, '../images/sprite.png', 'index', );
$joy-name: 'joy';
$joy-x: 165px;
$joy-y: 75px;
$joy-offset-x: -165px;
$joy-offset-y: -75px;
$joy-width: 16px;
$joy-height: 39px;
$joy-total-width: 219px;
$joy-total-height: 205px;
$joy-image: '../images/sprite.png';
$joy: (165px, 75px, -165px, -75px, 16px, 39px, 219px, 205px, '../images/sprite.png', 'joy', );
$mobile-about-active-name: 'mobile-about-active';
$mobile-about-active-x: 200px;
$mobile-about-active-y: 168px;
$mobile-about-active-offset-x: -200px;
$mobile-about-active-offset-y: -168px;
$mobile-about-active-width: 16px;
$mobile-about-active-height: 14px;
$mobile-about-active-total-width: 219px;
$mobile-about-active-total-height: 205px;
$mobile-about-active-image: '../images/sprite.png';
$mobile-about-active: (200px, 168px, -200px, -168px, 16px, 14px, 219px, 205px, '../images/sprite.png', 'mobile-about-active', );
$mobile-anger-active-name: 'mobile-anger-active';
$mobile-anger-active-x: 72px;
$mobile-anger-active-y: 132px;
$mobile-anger-active-offset-x: -72px;
$mobile-anger-active-offset-y: -132px;
$mobile-anger-active-width: 23px;
$mobile-anger-active-height: 20px;
$mobile-anger-active-total-width: 219px;
$mobile-anger-active-total-height: 205px;
$mobile-anger-active-image: '../images/sprite.png';
$mobile-anger-active: (72px, 132px, -72px, -132px, 23px, 20px, 219px, 205px, '../images/sprite.png', 'mobile-anger-active', );
$mobile-aversion-active-name: 'mobile-aversion-active';
$mobile-aversion-active-x: 184px;
$mobile-aversion-active-y: 30px;
$mobile-aversion-active-offset-x: -184px;
$mobile-aversion-active-offset-y: -30px;
$mobile-aversion-active-width: 16px;
$mobile-aversion-active-height: 30px;
$mobile-aversion-active-total-width: 219px;
$mobile-aversion-active-total-height: 205px;
$mobile-aversion-active-image: '../images/sprite.png';
$mobile-aversion-active: (184px, 30px, -184px, -30px, 16px, 30px, 219px, 205px, '../images/sprite.png', 'mobile-aversion-active', );
$mobile-bong-active-name: 'mobile-bong-active';
$mobile-bong-active-x: 27px;
$mobile-bong-active-y: 100px;
$mobile-bong-active-offset-x: -27px;
$mobile-bong-active-offset-y: -100px;
$mobile-bong-active-width: 27px;
$mobile-bong-active-height: 32px;
$mobile-bong-active-total-width: 219px;
$mobile-bong-active-total-height: 205px;
$mobile-bong-active-image: '../images/sprite.png';
$mobile-bong-active: (27px, 100px, -27px, -100px, 27px, 32px, 219px, 205px, '../images/sprite.png', 'mobile-bong-active', );
$mobile-fear-active-name: 'mobile-fear-active';
$mobile-fear-active-x: 184px;
$mobile-fear-active-y: 90px;
$mobile-fear-active-offset-x: -184px;
$mobile-fear-active-offset-y: -90px;
$mobile-fear-active-width: 12px;
$mobile-fear-active-height: 29px;
$mobile-fear-active-total-width: 219px;
$mobile-fear-active-total-height: 205px;
$mobile-fear-active-image: '../images/sprite.png';
$mobile-fear-active: (184px, 90px, -184px, -90px, 12px, 29px, 219px, 205px, '../images/sprite.png', 'mobile-fear-active', );
$mobile-index-name: 'mobile-index';
$mobile-index-x: 54px;
$mobile-index-y: 132px;
$mobile-index-offset-x: -54px;
$mobile-index-offset-y: -132px;
$mobile-index-width: 18px;
$mobile-index-height: 27px;
$mobile-index-total-width: 219px;
$mobile-index-total-height: 205px;
$mobile-index-image: '../images/sprite.png';
$mobile-index: (54px, 132px, -54px, -132px, 18px, 27px, 219px, 205px, '../images/sprite.png', 'mobile-index', );
$mobile-joy-active-name: 'mobile-joy-active';
$mobile-joy-active-x: 165px;
$mobile-joy-active-y: 36px;
$mobile-joy-active-offset-x: -165px;
$mobile-joy-active-offset-y: -36px;
$mobile-joy-active-width: 16px;
$mobile-joy-active-height: 39px;
$mobile-joy-active-total-width: 219px;
$mobile-joy-active-total-height: 205px;
$mobile-joy-active-image: '../images/sprite.png';
$mobile-joy-active: (165px, 36px, -165px, -36px, 16px, 39px, 219px, 205px, '../images/sprite.png', 'mobile-joy-active', );
$mobile-posters-active-name: 'mobile-posters-active';
$mobile-posters-active-x: 123px;
$mobile-posters-active-y: 36px;
$mobile-posters-active-offset-x: -123px;
$mobile-posters-active-offset-y: -36px;
$mobile-posters-active-width: 18px;
$mobile-posters-active-height: 18px;
$mobile-posters-active-total-width: 219px;
$mobile-posters-active-total-height: 205px;
$mobile-posters-active-image: '../images/sprite.png';
$mobile-posters-active: (123px, 36px, -123px, -36px, 18px, 18px, 219px, 205px, '../images/sprite.png', 'mobile-posters-active', );
$mobile-sorrow-active-name: 'mobile-sorrow-active';
$mobile-sorrow-active-x: 73px;
$mobile-sorrow-active-y: 26px;
$mobile-sorrow-active-offset-x: -73px;
$mobile-sorrow-active-offset-y: -26px;
$mobile-sorrow-active-width: 19px;
$mobile-sorrow-active-height: 29px;
$mobile-sorrow-active-total-width: 219px;
$mobile-sorrow-active-total-height: 205px;
$mobile-sorrow-active-image: '../images/sprite.png';
$mobile-sorrow-active: (73px, 26px, -73px, -26px, 19px, 29px, 219px, 205px, '../images/sprite.png', 'mobile-sorrow-active', );
$mobile-video-active-name: 'mobile-video-active';
$mobile-video-active-x: 141px;
$mobile-video-active-y: 84px;
$mobile-video-active-offset-x: -141px;
$mobile-video-active-offset-y: -84px;
$mobile-video-active-width: 22px;
$mobile-video-active-height: 16px;
$mobile-video-active-total-width: 219px;
$mobile-video-active-total-height: 205px;
$mobile-video-active-image: '../images/sprite.png';
$mobile-video-active: (141px, 84px, -141px, -84px, 22px, 16px, 219px, 205px, '../images/sprite.png', 'mobile-video-active', );
$movies-name: 'movies';
$movies-x: 81px;
$movies-y: 100px;
$movies-offset-x: -81px;
$movies-offset-y: -100px;
$movies-width: 25px;
$movies-height: 28px;
$movies-total-width: 219px;
$movies-total-height: 205px;
$movies-image: '../images/sprite.png';
$movies: (81px, 100px, -81px, -100px, 25px, 28px, 219px, 205px, '../images/sprite.png', 'movies', );
$movies-active-name: 'movies_active';
$movies-active-x: 92px;
$movies-active-y: 62px;
$movies-active-offset-x: -92px;
$movies-active-offset-y: -62px;
$movies-active-width: 25px;
$movies-active-height: 28px;
$movies-active-total-width: 219px;
$movies-active-total-height: 205px;
$movies-active-image: '../images/sprite.png';
$movies-active: (92px, 62px, -92px, -62px, 25px, 28px, 219px, 205px, '../images/sprite.png', 'movies_active', );
$odn-name: 'odn';
$odn-x: 184px;
$odn-y: 148px;
$odn-offset-x: -184px;
$odn-offset-y: -148px;
$odn-width: 11px;
$odn-height: 18px;
$odn-total-width: 219px;
$odn-total-height: 205px;
$odn-image: '../images/sprite.png';
$odn: (184px, 148px, -184px, -148px, 11px, 18px, 219px, 205px, '../images/sprite.png', 'odn', );
$posters-name: 'posters';
$posters-x: 165px;
$posters-y: 132px;
$posters-offset-x: -165px;
$posters-offset-y: -132px;
$posters-width: 18px;
$posters-height: 18px;
$posters-total-width: 219px;
$posters-total-height: 205px;
$posters-image: '../images/sprite.png';
$posters: (165px, 132px, -165px, -132px, 18px, 18px, 219px, 205px, '../images/sprite.png', 'posters', );
$print-name: 'print';
$print-x: 44px;
$print-y: 171px;
$print-offset-x: -44px;
$print-offset-y: -171px;
$print-width: 14px;
$print-height: 14px;
$print-total-width: 219px;
$print-total-height: 205px;
$print-image: '../images/sprite.png';
$print: (44px, 171px, -44px, -171px, 14px, 14px, 219px, 205px, '../images/sprite.png', 'print', );
$s-about-active-name: 's-about-active';
$s-about-active-x: 200px;
$s-about-active-y: 140px;
$s-about-active-offset-x: -200px;
$s-about-active-offset-y: -140px;
$s-about-active-width: 16px;
$s-about-active-height: 14px;
$s-about-active-total-width: 219px;
$s-about-active-total-height: 205px;
$s-about-active-image: '../images/sprite.png';
$s-about-active: (200px, 140px, -200px, -140px, 16px, 14px, 219px, 205px, '../images/sprite.png', 's-about-active', );
$s-about-name: 's-about';
$s-about-x: 117px;
$s-about-y: 62px;
$s-about-offset-x: -117px;
$s-about-offset-y: -62px;
$s-about-width: 24px;
$s-about-height: 22px;
$s-about-total-width: 219px;
$s-about-total-height: 205px;
$s-about-image: '../images/sprite.png';
$s-about: (117px, 62px, -117px, -62px, 24px, 22px, 219px, 205px, '../images/sprite.png', 's-about', );
$s-anger-active-name: 's-anger-active';
$s-anger-active-x: 95px;
$s-anger-active-y: 132px;
$s-anger-active-offset-x: -95px;
$s-anger-active-offset-y: -132px;
$s-anger-active-width: 23px;
$s-anger-active-height: 20px;
$s-anger-active-total-width: 219px;
$s-anger-active-total-height: 205px;
$s-anger-active-image: '../images/sprite.png';
$s-anger-active: (95px, 132px, -95px, -132px, 23px, 20px, 219px, 205px, '../images/sprite.png', 's-anger-active', );
$s-anger-name: 's-anger';
$s-anger-x: 61px;
$s-anger-y: 62px;
$s-anger-offset-x: -61px;
$s-anger-offset-y: -62px;
$s-anger-width: 31px;
$s-anger-height: 28px;
$s-anger-total-width: 219px;
$s-anger-total-height: 205px;
$s-anger-image: '../images/sprite.png';
$s-anger: (61px, 62px, -61px, -62px, 31px, 28px, 219px, 205px, '../images/sprite.png', 's-anger', );
$s-aversion-active-name: 's-aversion-active';
$s-aversion-active-x: 184px;
$s-aversion-active-y: 60px;
$s-aversion-active-offset-x: -184px;
$s-aversion-active-offset-y: -60px;
$s-aversion-active-width: 16px;
$s-aversion-active-height: 30px;
$s-aversion-active-total-width: 219px;
$s-aversion-active-total-height: 205px;
$s-aversion-active-image: '../images/sprite.png';
$s-aversion-active: (184px, 60px, -184px, -60px, 16px, 30px, 219px, 205px, '../images/sprite.png', 's-aversion-active', );
$s-aversion-name: 's-aversion';
$s-aversion-x: 141px;
$s-aversion-y: 47px;
$s-aversion-offset-x: -141px;
$s-aversion-offset-y: -47px;
$s-aversion-width: 22px;
$s-aversion-height: 37px;
$s-aversion-total-width: 219px;
$s-aversion-total-height: 205px;
$s-aversion-image: '../images/sprite.png';
$s-aversion: (141px, 47px, -141px, -47px, 22px, 37px, 219px, 205px, '../images/sprite.png', 's-aversion', );
$s-bong-active-name: 's-bong-active';
$s-bong-active-x: 0px;
$s-bong-active-y: 100px;
$s-bong-active-offset-x: 0px;
$s-bong-active-offset-y: -100px;
$s-bong-active-width: 27px;
$s-bong-active-height: 32px;
$s-bong-active-total-width: 219px;
$s-bong-active-total-height: 205px;
$s-bong-active-image: '../images/sprite.png';
$s-bong-active: (0px, 100px, 0px, -100px, 27px, 32px, 219px, 205px, '../images/sprite.png', 's-bong-active', );
$s-bong-name: 's-bong';
$s-bong-x: 0px;
$s-bong-y: 62px;
$s-bong-offset-x: 0px;
$s-bong-offset-y: -62px;
$s-bong-width: 35px;
$s-bong-height: 38px;
$s-bong-total-width: 219px;
$s-bong-total-height: 205px;
$s-bong-image: '../images/sprite.png';
$s-bong: (0px, 62px, 0px, -62px, 35px, 38px, 219px, 205px, '../images/sprite.png', 's-bong', );
$s-fear-active-name: 's-fear-active';
$s-fear-active-x: 200px;
$s-fear-active-y: 34px;
$s-fear-active-offset-x: -200px;
$s-fear-active-offset-y: -34px;
$s-fear-active-width: 11px;
$s-fear-active-height: 28px;
$s-fear-active-total-width: 219px;
$s-fear-active-total-height: 205px;
$s-fear-active-image: '../images/sprite.png';
$s-fear-active: (200px, 34px, -200px, -34px, 11px, 28px, 219px, 205px, '../images/sprite.png', 's-fear-active', );
$s-fear-name: 's-fear';
$s-fear-x: 165px;
$s-fear-y: 0px;
$s-fear-offset-x: -165px;
$s-fear-offset-y: 0px;
$s-fear-width: 19px;
$s-fear-height: 36px;
$s-fear-total-width: 219px;
$s-fear-total-height: 205px;
$s-fear-image: '../images/sprite.png';
$s-fear: (165px, 0px, -165px, 0px, 19px, 36px, 219px, 205px, '../images/sprite.png', 's-fear', );
$s-index-name: 's-index';
$s-index-x: 48px;
$s-index-y: 26px;
$s-index-offset-x: -48px;
$s-index-offset-y: -26px;
$s-index-width: 25px;
$s-index-height: 35px;
$s-index-total-width: 219px;
$s-index-total-height: 205px;
$s-index-image: '../images/sprite.png';
$s-index: (48px, 26px, -48px, -26px, 25px, 35px, 219px, 205px, '../images/sprite.png', 's-index', );
$s-joy-active-name: 's-joy-active';
$s-joy-active-x: 0px;
$s-joy-active-y: 132px;
$s-joy-active-offset-x: 0px;
$s-joy-active-offset-y: -132px;
$s-joy-active-width: 16px;
$s-joy-active-height: 39px;
$s-joy-active-total-width: 219px;
$s-joy-active-total-height: 205px;
$s-joy-active-image: '../images/sprite.png';
$s-joy-active: (0px, 132px, 0px, -132px, 16px, 39px, 219px, 205px, '../images/sprite.png', 's-joy-active', );
$s-joy-name: 's-joy';
$s-joy-x: 141px;
$s-joy-y: 0px;
$s-joy-offset-x: -141px;
$s-joy-offset-y: 0px;
$s-joy-width: 24px;
$s-joy-height: 47px;
$s-joy-total-width: 219px;
$s-joy-total-height: 205px;
$s-joy-image: '../images/sprite.png';
$s-joy: (141px, 0px, -141px, 0px, 24px, 47px, 219px, 205px, '../images/sprite.png', 's-joy', );
$s-posters-active-name: 's-posters-active';
$s-posters-active-x: 165px;
$s-posters-active-y: 114px;
$s-posters-active-offset-x: -165px;
$s-posters-active-offset-y: -114px;
$s-posters-active-width: 18px;
$s-posters-active-height: 18px;
$s-posters-active-total-width: 219px;
$s-posters-active-total-height: 205px;
$s-posters-active-image: '../images/sprite.png';
$s-posters-active: (165px, 114px, -165px, -114px, 18px, 18px, 219px, 205px, '../images/sprite.png', 's-posters-active', );
$s-posters-name: 's-posters';
$s-posters-x: 106px;
$s-posters-y: 100px;
$s-posters-offset-x: -106px;
$s-posters-offset-y: -100px;
$s-posters-width: 26px;
$s-posters-height: 26px;
$s-posters-total-width: 219px;
$s-posters-total-height: 205px;
$s-posters-image: '../images/sprite.png';
$s-posters: (106px, 100px, -106px, -100px, 26px, 26px, 219px, 205px, '../images/sprite.png', 's-posters', );
$s-sorrow-active-name: 's-sorrow-active';
$s-sorrow-active-x: 35px;
$s-sorrow-active-y: 132px;
$s-sorrow-active-offset-x: -35px;
$s-sorrow-active-offset-y: -132px;
$s-sorrow-active-width: 19px;
$s-sorrow-active-height: 29px;
$s-sorrow-active-total-width: 219px;
$s-sorrow-active-total-height: 205px;
$s-sorrow-active-image: '../images/sprite.png';
$s-sorrow-active: (35px, 132px, -35px, -132px, 19px, 29px, 219px, 205px, '../images/sprite.png', 's-sorrow-active', );
$s-sorrow-name: 's-sorrow';
$s-sorrow-x: 35px;
$s-sorrow-y: 62px;
$s-sorrow-offset-x: -35px;
$s-sorrow-offset-y: -62px;
$s-sorrow-width: 26px;
$s-sorrow-height: 37px;
$s-sorrow-total-width: 219px;
$s-sorrow-total-height: 205px;
$s-sorrow-image: '../images/sprite.png';
$s-sorrow: (35px, 62px, -35px, -62px, 26px, 37px, 219px, 205px, '../images/sprite.png', 's-sorrow', );
$s-video-active-name: 's-video-active';
$s-video-active-x: 0px;
$s-video-active-y: 171px;
$s-video-active-offset-x: 0px;
$s-video-active-offset-y: -171px;
$s-video-active-width: 22px;
$s-video-active-height: 16px;
$s-video-active-total-width: 219px;
$s-video-active-total-height: 205px;
$s-video-active-image: '../images/sprite.png';
$s-video-active: (0px, 171px, 0px, -171px, 22px, 16px, 219px, 205px, '../images/sprite.png', 's-video-active', );
$s-video-name: 's-video';
$s-video-x: 93px;
$s-video-y: 36px;
$s-video-offset-x: -93px;
$s-video-offset-y: -36px;
$s-video-width: 30px;
$s-video-height: 24px;
$s-video-total-width: 219px;
$s-video-total-height: 205px;
$s-video-image: '../images/sprite.png';
$s-video: (93px, 36px, -93px, -36px, 30px, 24px, 219px, 205px, '../images/sprite.png', 's-video', );
$sorrow-name: 'sorrow';
$sorrow-x: 16px;
$sorrow-y: 132px;
$sorrow-offset-x: -16px;
$sorrow-offset-y: -132px;
$sorrow-width: 19px;
$sorrow-height: 29px;
$sorrow-total-width: 219px;
$sorrow-total-height: 205px;
$sorrow-image: '../images/sprite.png';
$sorrow: (16px, 132px, -16px, -132px, 19px, 29px, 219px, 205px, '../images/sprite.png', 'sorrow', );
$tw-name: 'tw';
$tw-x: 200px;
$tw-y: 111px;
$tw-offset-x: -200px;
$tw-offset-y: -111px;
$tw-width: 17px;
$tw-height: 15px;
$tw-total-width: 219px;
$tw-total-height: 205px;
$tw-image: '../images/sprite.png';
$tw: (200px, 111px, -200px, -111px, 17px, 15px, 219px, 205px, '../images/sprite.png', 'tw', );
$video-name: 'video';
$video-x: 22px;
$video-y: 171px;
$video-offset-x: -22px;
$video-offset-y: -171px;
$video-width: 22px;
$video-height: 16px;
$video-total-width: 219px;
$video-total-height: 205px;
$video-image: '../images/sprite.png';
$video: (22px, 171px, -22px, -171px, 22px, 16px, 219px, 205px, '../images/sprite.png', 'video', );
$spritesheet-width: 219px;
$spritesheet-height: 205px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($about, $anger, $arr-bot, $arr-top, $aversion, $bong, $dsn-fb, $dsn-inst, $dsn-pint, $dsn-tw, $dsn-ytb, $eye-close, $eye-open, $fb, $fear, $game, $index, $joy, $mobile-about-active, $mobile-anger-active, $mobile-aversion-active, $mobile-bong-active, $mobile-fear-active, $mobile-index, $mobile-joy-active, $mobile-posters-active, $mobile-sorrow-active, $mobile-video-active, $movies, $movies-active, $odn, $posters, $print, $s-about-active, $s-about, $s-anger-active, $s-anger, $s-aversion-active, $s-aversion, $s-bong-active, $s-bong, $s-fear-active, $s-fear, $s-index, $s-joy-active, $s-joy, $s-posters-active, $s-posters, $s-sorrow-active, $s-sorrow, $s-video-active, $s-video, $sorrow, $tw, $video, );
$spritesheet: (219px, 205px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
