.main-top-nav{
	transition: opacity 0 linear;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	font-family: 'ralewayblack';
	font-size: 12px;
	text-transform: uppercase;
	height: 59px;
	user-select:none;

	@include brk($max: 992px) {
		display: none;
	};

	&.hide{
		opacity: 0;
		visibility: hidden;
	}

	&.vis{
		opacity: 1;
		visibility: visible;
	}

	ul{
		display: block;
		margin: 0 auto;
		padding: 0;
		list-style-type: none;
		max-width: 960px;
		text-align: justify;

		&:after{
			display: inline-block;
			content: '';
			width: 100%;
			height: 0;
			line-height: 0;
		}
	}

	li{
		display: inline-block;
		vertical-align: top;
 		height: 59px;
 		text-align: left;
 		padding-top: 25px;
		
		a{
			transition: color .2s ease;
	 		text-decoration: none;
			color: #000;
			display: inline-block;
			position: relative;
			min-height:1px;
			vertical-align: top;
			user-select:none;

			&:before, .icon{
				content: '';
				position: relative;
				display: inline-block;
				vertical-align: top;
				user-select:none;
			}

			&:before{
				display: none;
			}

			.lt-ie9 &{
				&:before{
					display: inline-block;
				}
			}
		}
	}


	.item-index{
		line-height: 0;
		padding-top: 18px;

		span{
			display: none;
		}

		a{
			&:before{
				display: block;
				@include sprite($index);
 			}
		}

		.icon{
			display: none;
		}
	}

	.item-video{
 		a{
			&:before{
				@include sprite($video);
				margin: -2px 7px 0 1px;
			}
		}

		&.active, &:hover{
			a{
				color: #43c3a7;
			}
		}

		.icon{
			width: $video-width;
			height: $video-height;
			fill: #9880d4;
			margin: -2px 7px 0 1px;
		}

	}
	.item-joy{
		a{
			&:before{
				@include sprite($joy);
				margin: -13px 3px 0 -4px;
			}
		}

		&.active, &:hover{
			a{
				color: #fbb277;
			}
		}

		.icon{
			width: $joy-width;
			height: $joy-height;
			fill: #fbb277;
			margin: -13px 3px 0 -4px;
		}


	}
	.item-sadness{
		a{
			&:before{
				@include sprite($sorrow);
				margin: -10px 3px 0 -2px;
			}
		}

		&.active, &:hover{
			a{
				color: #559de7;
			}
		}
		.icon{
			width: $sorrow-width;
			height: $sorrow-height;
			fill: #559de7;
			margin: -10px 3px 0 -2px;
		}
	}
	.item-anger{
		a{
			&:before{
				@include sprite($anger);
				margin: -4px 3px 0 0;
			}
		}	

		&.active, &:hover{
			a{
				color: #e92f2a;
			}
		}
		.icon{
			width: $anger-width;
			height: $anger-height;
			fill: #e92f2a;
			margin: -4px 3px 0 0;
		}
	}
	.item-disgust{
		a{
			&:before{
				@include sprite($aversion);
				margin: -9px 5px 0 -3px;
			}
		}	

		&.active, &:hover{
			a{
				color: #84c056;
			}
		}
		.icon{
			width: $aversion-width;
			height: $aversion-height;
			fill: #84c056;
			margin: -9px 5px 0 -3px;
		}
	}
	.item-fear{
		a{
			&:before{
				@include sprite($fear);
				margin: -9px 5px 0 -8px;
			}
		}

		&.active, &:hover{
			a{
				color: #a06ea9;
			}
		}
		.icon{
			width: $fear-width;
			height: $fear-height;
			fill: #a06ea9;
			margin: -9px 5px 0 -8px;
		}
	}
	.item-bong{
		a{
			&:before{
				@include sprite($bong);
				margin: -13px 7px 0 -5px;
			}
		}	

		&.active, &:hover{
			a{
				color: #f494d3;
			}
		}
		.icon{
			width: $bong-width;
			height: $bong-height;
			fill: #9880d4;
			margin: -13px 7px 0 -5px;
		}
	}
	.item-posters{
		a{
			&:before{
				@include sprite($posters);
				margin: -4px 11px 0 -9px;
			}
		}	

		&.active, &:hover{
			a{
				color: #ed9415;
			}
		}
		.icon{
			width: $posters-width;
			height: $posters-height;
			fill: #ed9415;
			margin: -4px 11px 0 -9px;
		}
	}
	.item-about{
		a{
			&:before{
				@include sprite($about);
				margin: -1px 6px 0 -5px;
			}
		}


		&.active, &:hover{
			a{
				color: #1fbec8;
			}
		}
		.icon{
			width: $about-width;
			height: $about-height;
			fill: #1fbec8 ;
			margin: -1px 6px 0 -5px;
		}
	}
	.item-movies{
		a{
			&:before{
				@include sprite($movies);
				margin: -1px 6px 0 -5px;
			}
		}


		&.active, &:hover{
			a{
				color: #d57bb8;
			}
		}
		.icon{
			width: 17px;
			height: 25px;
			fill: #d57bb8 ;
			margin: -6px 6px 0 -5px;
		}
	}
	.item-game{
		a{
			&:before{
				@include sprite($game);
				margin: -1px 6px 0 -5px;
			}
		}


		&.active, &:hover{
			a{
				color: #ffd200;
			}
		}
		.icon{
			width: 24px;
			height: 18px;
			fill: #ffd200 ;
			margin: -3px 3px 0 -3px;
		}
	}
}