body{
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 1.2;
}

a{
	color: #fff;
	text-decoration: underline;
	outline: none;

	&:hover{
		text-decoration: none;
	}

	&:focus{
		outline: none;
	}
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1, h2, h3{
	font-family: 'ralewayblack';
}

h1{
	font-size: 35px;
	text-transform: uppercase;
}