.fixed{
	position: fixed !important;
}

.img-responsive{
	display: block;
	max-width: 100%;

	&.inline{
		display: inline-block;
		vertical-align: top;
	}
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.text-left{
	text-align: left;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

%clear{
	*zoom:1;
	&:after{
		display: table;
		content: '';
		width: 100%;
		clear: both;
	}
}