.video-tabs-block{
	max-width: 591px;
	position: relative;
	margin: 0 auto;

	img{
		display: block;
		max-width: 100%;
	}

	.panels{
		position: relative;
	}

	.panel{
		display: none;
		margin-bottom: 15px;

		&.visible{
			display: block;
		}
	}

	.tabs-btns{
		font-size: 0;
		text-align: center;
		margin: 0 -1%;

		.tab-btn{
			transition: all .2s ease;
			display: inline-block;
			vertical-align: top;
			width: 25%;
			margin: 0 1%;
			opacity: .5;
			cursor: pointer;

			@include brk($max: 992px) {
				width: 40%;
				margin-bottom: 25px;
			};


			&:hover, &.active{
				opacity: 1;
			}
		}
	}
}