.section.section-10(data-anchor="about")
    include ../partials/mobile-anchors
    .container
        .bd
            .inner-wrapper.about
                h1.section-title О фильме
                .about-block
                    img(src="images/p-about.png", alt="", class="persona img-responsive inline")
                    .text
                        p Disney/Pixar с гордостью представляет новый анимационный шедевр «Головоломка»: фильм, который перенесет вас в самое загадочное место на свете — в глубины человеческого сознания.
                        .small-p
                            p Райли – обычная одиннадцатилетняя школьница, и, как у каждого из нас, её поведение определяют пять базовых эмоций: Радость, Печаль, Страх, Гнев и Брезгливость. Эмоции живут в сознании девочки и каждый день помогают ей справляться с проблемами, руководя всеми её поступками. До поры до времени эмоции живут дружно, но вдруг оказывается, что Райли и её родителям предстоит переезд из небольшого уютного городка в шумный и людный мегаполис. Каждая из эмоций считает, что именно она лучше прочих знает, что нужно делать в этой непростой ситуации, и в голове у девочки наступает полная неразбериха. Чтобы наладить жизнь в большом городе, освоиться в новой школе и подружиться с одноклассниками, эмоциям Райли предстоит снова научиться работать сообща.