- var stars = [1,2,3,4,5]
.section.section-11.long-section(data-anchor="movies")
    include ../partials/mobile-anchors
    .container
        .bd
            .inner-wrapper
                h1.section-title фильмы
                .movies-list
                    each item in movieslist
                      .item
                        .image
                            img(src="#{item.thumb}", alt="#{item.title}", class="img-responsive")
                        .data
                            .t= item.title
                            .eng-t= item.titleeng
                            .year Год: #{item.date}
                            .time Длительность: #{item.time} мин.
                            .old-item Возраст: #{item.old}
                            .rating
                                each star, i in stars
                                    if i  < item.rating
                                        svg(class="icon icon-star star-full")
                                            use(xlink:href="#starfull")
                                    else
                                        svg(class="icon icon-star ")
                                            use(xlink:href="#star")                                        
                            a.tunec(href="#{item.link}")
            .inner-wrapper.p-t
                h1.section-title Партнеры
                .movies-list.partners
                    .item
                        img(src="assets/logo_tricolor_color_vert_sub.jpg", alt="", class="img-responsive")
                    .item
                        img(src="assets/citroen.jpg", alt="", class="img-responsive")
                    .item
                        img(src="assets/vasilyok.jpg", alt="", class="img-responsive")
            .footer.text-center
                .horse
                    .h-body
                        .h-eye
                .disney
                    a(href="http://www.disney.ru/")
                        img(src="images/dsn-logo.png", alt="Disney!" class="img-responsive inline" style="width:72px")
                ul.foo-nav
                    li 
                        a(href="http://www.waltdisney.ru/", target="_blank") Корпоративная информация
                    li 
                        a(href="http://www.disney.ru/safesurfing/", target="_blank") Безопасный интернет
                    li 
                        a(href="https://key.disney.ru/signup/terms", target="_blank") Условия использования
                    li 
                        a(href="https://key.disney.ru/signup/policy", target="_blank") Защита данных
                    li 
                        a(href="http://www.disney.ru/adsales/", target="_blank") Реклама
                .copy
                    p © Disney. Все права защищены. 
                    p 0+ Информационная продукция, опубликованная на данном сайте, предназначена для любой аудитории, если иное не указано дополнительно в отношении отдельных материалов
                .dsn-share
                    - each item in socials
                        a(href="#{item.link}", target="_blank", title="#{item.title}", class="socials-link #{item.icon}")