.section.section-9(data-anchor="posters")
    include ../partials/mobile-anchors
    .container
        .bd
            .inner-wrapper.carousel-section
                h1.section-title Постеры
                .carousel-block
                    .carousel.posters-carousel
                        each item, i in postersData
                            .item
                                .item-inner.gancy(data-view="true" data-item="#{i}")
                                    .inn
                                        img(src="#{item.thumb}", alt="#{item.title}", class="img-responsive")
                each item, i in postersData
                    - var link = baseurl + '#posters'
                    - var picture = baseurl + item.fullimage 
                    - var name = item.title 
                    - var caption = 'Головоломка'
                    - var description = ''

                    if i == 0
                        .m-share.visible(data-share-index="#{i}")
                            include ../partials/share
                    else
                        .m-share(data-share-index="#{i}")
                            include ../partials/share  