each item, i in videoPersons
    - var type = 'feed'
    - var link = baseurl + '#' + item.link
    - var picture = baseurl + item.picture 
    - var name = item.name 
    - var caption = item.caption
    - var description = item.description
    .section(data-anchor="#{item.link}", class="section-#{i+3}")
        include ../partials/mobile-anchors            
        .container
            .bd
                .inner-wrapper
                    .persons-video-section
                        h1.section-title #{item.caption}
                        .persona
                            img(src="#{item.picture}", alt="#{item.caption}", class="img-responsive inline")
                        .video-section
                            .area-share
                                include ../partials/share
                            .area
                                if item.video
                                    object(type="application/x-shockwave-flash" data="#{item.video}")
                                        param(name="allowFullScreen" value="true")
                                    //- iframe(scrolling="none" allowfullscreen="true" width="100%" height="100%"  webkitallowfullscreen="true" src="#{item.video}")
                        .m-share
                            include ../partials/share            
                        .description
                            p #{item.description}