.section.height-auto(data-anchor="game")
    include ../partials/mobile-anchors
    img(src="images/inside_out_landing_gamemodule02_.jpg", alt="", class="baner-img img-responsive")
    .game-dsc
        .t
            | Disney/Pixar представляет 
            br
            | новую мобильную игру по мотивам 
            | анимационного фильмов 2015 года
        .t2
            | «Головоломка»!
        a.btn(href="") Узнать больше