- var type = 'feed'
- var link = baseurl+'#video'
- var picture = baseurl+'assets/v1.png'
- var name = 'Головоломки'
- var caption = 'Видео'
- var description = ''
.section.section-2(data-anchor="video")
    include ../partials/mobile-anchors
    .container
        .bd
            .inner-wrapper
                h1.section-title 
                    span Видео
                .video-tabs-block.js-tabs
                    .panels
                        .area-share
                            include ../partials/share                
                        .panel.visible(data-panel="panel-1")
                            .video-wrapper
                                .area
                                    object(type="application/x-shockwave-flash" data="http://cloud.tvigle.ru/static//player/viewer/flash/stardust.swf?playlistID=111376&id=5243260&partnerId=8&playerId=10&width=&height=&useAPI=true&autoChangeVideo=false&eventHandler=Partner.eventHandler&templateLoadHandler=Partner.onLoaded&templateReadyHandler=tvigle.templateReadyHandlertvPlayerObj0&r=aHR0cDovL2Nsb3VkLnR2aWdsZS5ydS9wbGF5bGlzdC8xMTEzNzYvP3BsYXlsaXN0SUQ9MTExMzc2JnBhcnRuZXJJZD04JnBsYXllcklkPTEw&color=&domain=cloud.tvigle.ru&apiDomain=cloud.tvigle.ru&skin=http%3A%2F%2Fphoto.tvigle.ru%2Fres%2F2013%2F11%2F21%2Fe92140a7-d4db-4151-9cc2-c0e2a7de34a7.swf&staticUrl=%2F%2Fcloud.tvigle.ru%2Fstatic%2Fplayer&debug_mode=false&flashID=tvPlayerObj0&swfSkin=http%3A%2F%2Fphoto.tvigle.ru%2Fres%2F2013%2F11%2F21%2Fe92140a7-d4db-4151-9cc2-c0e2a7de34a7.swf&logoWatermarkAlign=&logoAlign=&trackable=true&logo=&copyCode=false&ageRestrictionWatermarks=%7B%220%2B%22%3A%22%22%2C%2212%2B%22%3A%22%22%2C%226%2B%22%3A%22%22%2C%2218%2B%22%3A%22%22%2C%2216%2B%22%3A%22%22%7D&bgcolor=&site_url=&ageRestrictionWatermarkAlign=&showHeaderDescription=false&gaID=&pngSkin=http%3A%2F%2Fphoto.tvigle.ru%2Fres%2F2014%2F09%2F18%2F6e71e08d-aae5-40ce-9667-378018b3dfb2.png&logoWatermark=&continuous=false&cssSkin=http%3A%2F%2Fphoto.tvigle.ru%2Fres%2F2014%2F09%2F18%2Facc227df-92ac-4971-a941-6fe443d0f858.css&timeAlign=&name=main&showHeaderTitle=true&shareable=true&auto_start=false&showReferences=false&sprite=http%3A%2F%2Fphoto.tvigle.ru%2Fres%2F2014%2F09%2F18%2F6e71e08d-aae5-40ce-9667-378018b3dfb2.png&originalTemplateReadyHandler=Partner.onReady&refURL=not%20available&parentDomain=cloud.tvigle.ru&useAPI=true&eventHandler=eventFlashHandler")
                                        param(name="allowFullScreen" value="true")
                .m-share
                    include ../partials/share