.section.section-1(data-anchor="index")
    .container
        .bd
            .logo
                img(src="images/logo.png", alt="", class="img-responsive")
                .text.text-1
                    span.span-1 Нет слов,
                    span.span-2 одни эмоции
            .persona
                img(src="images/p1.png", class="img-responsive inline")
                .btn-row
                    span.btn.js-slide-to(data-target="2") смотреть трейлер
                .text.text-2
                    .spans
                        span.old-svg
                            svg
                                use(xlink:href="#old")
                        span.old.old-text
                            span.f 
                                | 6 
                                span +
                        span.span-1 В кино
                        span.span-2 с 
                            span.f 18 
                            |июня
    nav.main-top-nav.vis
        include ../partials/anchors    