.section.section-11(data-anchor="footer")
    include ../partials/mobile-anchors
    .container
        .bd
            .footer.text-center
                .horse
                    .h-body
                        .h-eye
                .disney
                    a(href="http://www.disney.ru/")
                        img(src="images/dsn-logo.png", alt="Disney!" class="img-responsive inline" style="width:72px")
                ul.foo-nav
                    li 
                        a(href="http://www.waltdisney.ru/", target="_blank") Корпоративная информация
                    li 
                        a(href="http://www.disney.ru/safesurfing/", target="_blank") Безопасный интернет
                    li 
                        a(href="https://key.disney.ru/signup/terms", target="_blank") Условия использования
                    li 
                        a(href="https://key.disney.ru/signup/policy", target="_blank") Защита данных
                    li 
                        a(href="http://www.disney.ru/adsales/", target="_blank") Реклама
                .copy
                    p © Disney. Все права защищены. 
                    p 0+ Информационная продукция, опубликованная на данном сайте, предназначена для любой аудитории, если иное не указано дополнительно в отношении отдельных материалов
                .dsn-share
                    - each item in socials
                        a(href="#{item.link}", target="_blank", title="#{item.title}", class="socials-link #{item.icon}")