mixin svgs(file)
  - var xml = fs.readFileSync(file)
  div!= xml

- baseurl = 'http://golovolomka.disney.ru/';
//- - baseurl = 'http://puzzle.frontdev.net/';
include partials/head
body
    include partials/svgsymbols
    script.
        window.fbAsyncInit = function() {
            FB.init({
              appId      : '1058525350828405',
              status     : true,
              xfbml      : true,
              version    : 'v2.3',
              cookie: true
            });
        };
        (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/ru_RU/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    #fb-root
    .global-wrapper.mhc-content
        .global#page
            include sections/section-1
            include sections/section-2
            include sections/section-about 
            include sections/section-videoPersons
            include sections/section-posters
            include sections/section-game
            include sections/section-movies
        .section-navigation.hidden
            include partials/anchors
        include partials/nav-arrows
    include partials/gallery-popup
    include partials/scripts