ul.anchors
    each item in sectionsTitle
        li(class="item-#{item.anchor}")
            a(href="##{item.anchor}")
                svg(class="icon icon-#{item.anchor}")
                    use(xlink:href="##{item.anchor}")
                span= item.title