.gallery-popup
    .slides
        .close
        .arr.arr-prev
        .arr.arr-next
        each item, i in postersData
            - var link = baseurl + '#posters'
            - var picture = baseurl + item.fullimage 
            - var name = item.title 
            - var caption = 'Головоломка'
            - var description = ''
            if i == 1
                .item(data-slide="#{i}" class="visible")
                    .inner
                        .area-share
                            include popup-share    
                        img(src="#{item.fullimage}", alt="#{item.title}")
            else
                .item(data-slide="#{i}" class="hidden")
                    .inner
                        .area-share
                            include popup-share    
                        img(src="#{item.fullimage}", alt="#{item.title}")
    .thumbs
        ul.thumbs-list
            each item, i in postersData
                if i == 0
                    li.item(data-thumb="#{i}" class="active")
                        img(src="#{item.thumb}", alt="#{item.title}")
                else
                    li.item(data-thumb="#{i}")
                        img(src="#{item.thumb}", alt="#{item.title}")           
.overlay