doctype
<!--[if IE 8]><html class="lt-ie9 no-js"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
head
    //- TODO: Check if it's the good charset
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Головоломка
    meta(name='viewport', content='width=device-width,initial-scale=1.0')

    meta(property="og:title" content="Головоломка")
    meta(property="og:type" content="movie")
    meta(property="og:title" content="Нет слов, одни эмоции!")
    meta(property="og:description" content="Новый анимационный фильм Disney/Pixar “Головоломка” в кино с 18 июня.")
    meta(property="og:image" content="#{baseurl}images/p1.png")
    meta(property="og:url" content="#{baseurl}")
    meta(property="twitter:card" content="summary")
    meta(property="twitter:url" content="#{baseurl}")
    meta(property="twitter:title" content="Нет слов, одни эмоции!")
    meta(property="twitter:description" content="Новый анимационный фильм Disney/Pixar “Головоломка” в кино с 18 июня.")
    //- TODO : Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel="stylesheet", href="css/libs/libs.css")
    link(rel="stylesheet", href="css/style.css")
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    <!--[if lt IE 9]>
    script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.0/html5shiv.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js")
    <![endif]-->