.mobile-anchors
    ul.anchors
        each item, i in sectionsTitle
            li(class="item-#{item.anchor}", data-anchor="#{i}")
                a(href="##{item.anchor}")= item.title
                    svg(class="icon icon-#{item.anchor}")
                        use(xlink:href="##{item.anchor}")