script(src="js/libs/libs.js")
script(src="js/common.js")
script(src="js/gallery-modal.js")
script(src="js/shareapp.js")
//- script(src="http://analytics.disneyinternational.com/analytics/wdigWebAnalytics.js")
script.
	//- (function (d) {

	//-   var s = d.createElement("script");

	//-   s.async = true;

	//-   s.src = "http://new.disney.ru/goc/us/new.disney.ru/responsive.js";

	//-   d.getElementsByTagName("head")[0].appendChild(s);

	//- })(document);
	var GOC = {
			opts: {
			disneyKey: true,
			search: true,
			css: {
	  			zIndex: 10000
			}
			},
			queue: [ ]
	};

	
	cto = new CTO();
	cto.track();//Required. Do not remove.

