.share
    span.share-link.odn(
        data-provider="odnoklassniki"
        data-provider-data='{"link": "#{baseurl}", "name": "#{name}", "picture": "#{picture}", "caption": "#{caption}", "description": "#{description}"}'
    )
    span.share-link.fb(
        data-provider="facebook"
        data-provider-data='{"method": "#{type}", "link": "#{link}", "picture": "#{picture}", "name": "#{name}", "caption": "#{caption}", "description": "#{description}"}'
    )
    span.share-link.tw( 
        data-provider="twitter"
        data-provider-data='{"link": "#{link}", "name": "#{name}", "caption": "#{caption}", "description": "#{description}"}'
    )