svg(style="display:none" xmlns="http://www.w3.org/2000/svg").
  <symbol id="index" viewBox="0 0 24 37">
    <path d="M23.437,6.928c-0.128-0.406-0.294-0.764-0.483-1.099c-0.227-0.4-0.496-0.781-0.801-1.121
        c-0.104-0.113-0.379-0.403-0.691-0.68c-0.238-0.211-0.514-0.416-0.651-0.522c-0.286-0.222-0.608-0.425-0.771-0.535
        c-0.843-0.521-1.76-0.976-2.764-1.336c-0.227-0.082-0.459-0.153-0.695-0.221c-1.254-0.409-2.693-0.473-2.355-0.447
        c-0.43-0.033-1.447-0.047-2.452,0.076c-0.198,0.022-0.749,0.115-1.297,0.259C9.94,1.441,9.408,1.631,9.145,1.734
        C8.458,2.007,7.851,2.321,7.783,2.358C5.951,3.381,4.548,4.866,3.499,6.675C3.423,6.804,3.166,7.307,2.957,7.824
        C2.875,8.027,2.786,8.258,2.703,8.497c-0.204,0.585-0.388,1.334-0.454,1.739c-0.065,0.403-0.117,0.908-0.152,1.349
        c-0.019,0.24-0.023,0.691-0.018,1.108c0.004,0.326,0.096,1.341,0.167,1.759c0.073,0.431,0.16,0.889,0.22,1.144
        c0.043,0.18,0.196,0.669,0.296,1.11c0.114,0.504,0.235,1.398,0.245,1.468c0.039,0.299,0.072,0.578,0.096,0.992
        c0.008,0.188,0.016,0.376,0.024,0.564v0.439c0,0.278-0.014,0.726-0.036,1.106c-0.01,0.167-0.029,1.253-0.071,1.461
        c-0.05,0.249-0.125,0.445-0.148,0.506c-0.188,0.514-0.416,0.916-0.748,1.33c-0.267,0.332-0.708,0.713-1.294,0.604
        c-0.008-0.001-0.017-0.003-0.025-0.005c-0.1,0,0.063,0.065,0.014,0.042c0.071,0.033,0.142,0.067,0.213,0.101
        c0.345,0.112,0.806-0.057,1.039-0.19c0.002,0.007,0.004,0.012,0.006,0.019c-0.063,0.083-0.173,0.127-0.274,0.172
        c-0.474,0.213-1.129,0.066-1.487-0.153c-0.004,0.003-0.008,0.007-0.012,0.011c-0.025,0.04,0.124,0.308,0.155,0.351
        c0.192,0.265,0.479,0.44,0.938,0.44c0.081-0.003,0.163-0.004,0.245-0.006c0.158-0.044,0.319-0.065,0.459-0.125
        c0.34-0.146,0.592-0.413,0.808-0.686c0.08-0.101,0.201-0.193,0.251-0.32c0.008-0.002,0.016-0.004,0.024-0.007
        c-0.017,0.175-0.195,0.336-0.287,0.451c-0.31,0.392-0.661,0.677-1.232,0.811c-0.268,0.063-0.485-0.058-0.713-0.086
        c0.008,0.001-0.107-0.022-0.013,0.037c0.051,0.032,0.103,0.064,0.153,0.096c0.192,0.091,0.546,0.122,0.776,0.049
        c0.016,0,0.012,0.04,0.012,0.022c-0.17,0.086-0.372,0.096-0.597,0.131c-0.004,0.007-0.008,0.012-0.012,0.018
        c0.023,0.148,0.115,0.221,0.222,0.28c0.038,0.021,0.118,0.061,0.184,0.113c0.085,0.067,0.235,0.214,0.259,0.231
        c0.105,0.091,0.208,0.145,0.32,0.213c0.377,0.237,0.779,0.453,1.23,0.618c0.169,0.063,0.337,0.069,0.52,0.132
        c0.198,0.067,0.683,0.103,0.925,0.041c0.234-0.062,0.415-0.178,0.626-0.237c0.154-0.043,0.285-0.021,0.442-0.065
        c0.45-0.129,0.706-0.198,0.929-0.549c0.006-0.003,0.012-0.005,0.018-0.007c-0.013,0.156-0.105,0.305-0.155,0.435
        c-0.125,0.327-0.183,0.659-0.295,0.98c-0.181,0.513-0.268,0.98-0.454,1.486c-0.099,0.268-0.141,0.554-0.251,0.809
        c0,0.006-1.576,4.098-1.896,5.017c3.792,0,10.748,0.199,14.541,0.199c-0.021-0.35-0.891-6.344-0.912-6.693
        c-0.043-0.527-0.093-1.077-0.093-1.625c-0.001-0.18-0.054-1.597-0.188-2.442c-0.02-0.118-0.092-0.479-0.133-0.615
        c-0.043-0.134-0.279-0.53-0.329-0.608s-0.112-0.159-0.153-0.237c-0.143-0.208-0.371-0.394-0.621-0.494
        c-0.264-0.102-0.788-0.179-0.932-0.386c-0.148-0.213,0.008-0.627,0.113-0.784c0.17-0.25,0.634-0.654,1.135-0.521
        c0.047,0.011,0.572,0.127,0.879,0.164c0.626,0.08,1.117,0.121,2.078-0.092c0.559-0.151,1.047-0.367,1.348-0.775
        c0.133-0.18,0.266-0.362,0.399-0.545c0.136-0.179,0.315-0.377,0.489-0.517c0.115-0.093,0.24-0.204,0.316-0.332
        c0.082-0.149,0.022-0.346,0.022-0.346c-0.04-0.155-0.159-0.185-0.32-0.25c-0.013-0.011-0.005,0-0.013-0.017
        c0.189-0.226,0.604-0.244,0.771-0.486c0.217-0.316-0.071-0.842,0.071-1.225c0.061-0.162,0.178-0.283,0.307-0.393
        c0.12-0.099,0.254-0.21,0.376-0.328c0.13-0.128,0.297-0.303,0.435-0.486c0.011-0.014,0.021-0.03,0.033-0.045
        c0.137-0.202,0.254-0.496,0.098-0.764c-0.205-0.349-0.565-0.602-0.924-0.823c0.037,0.023-0.577-0.351-0.821-0.556
        c-0.182-0.152-0.341-0.343-0.397-0.575c-0.098-0.394-0.041-0.888,0.034-1.286c-0.041,0.217,0.083-0.483,0.11-0.752
        c0.056-0.568-0.063-1.225-0.154-1.66c-0.004-0.012-0.006-0.025-0.008-0.038c0-0.04,0.046,0.006,0.051,0.009
        c0.148,0.121,0.276,0.304,0.385,0.46c0.134,0.196,0.289,0.406,0.382,0.644c0.243,0.616,0.27,1.468,0.185,2.28
        c0.072,0.021,0.275-0.408,0.322-0.499c0.182-0.345,0.256-0.627,0.341-1.076c0.019-0.101,0.052-0.256,0.052-0.387
        c0,0.049,0.002-0.289-0.052-0.456c-0.007-0.022-0.013-0.044-0.019-0.066c-0.013-0.045-0.025-0.089-0.038-0.134
        c-0.006-0.02-0.005-0.075,0.037-0.001c0.189,0.332,0.301,0.889,0.176,1.366c-0.021,0.059-0.021,0.111,0.02,0.049
        c-0.012,0.039,0.038-0.124,0.073-0.238c0.062-0.198,0.124-0.399,0.181-0.603c0.078-0.277,0.155-1.358,0.155-1.634
        c0-0.131-0.001-0.215,0-0.259C23.693,8.868,23.646,7.598,23.437,6.928z M23.699,8.924c0-0.002,0,0.027,0,0.043
        C23.7,8.982,23.7,8.974,23.699,8.924z"/>
  </symbol>  
  <symbol id="fear" viewBox="0 0 15 37">
        <path d="M3.495,7.12c-0.042,0-0.075,0.034-0.075,0.076s0.034,0.076,0.075,0.076c0.042,0,0.076-0.034,0.076-0.076
            S3.537,7.12,3.495,7.12z M3.387,4.785c0.052,0,0.095-0.042,0.095-0.096c0-0.052-0.043-0.095-0.095-0.095
            c-0.053,0-0.095,0.043-0.095,0.095C3.292,4.743,3.334,4.785,3.387,4.785z M2.743,5.23c0-0.049-0.04-0.09-0.089-0.09
            c-0.05,0-0.09,0.041-0.09,0.09s0.04,0.089,0.09,0.089C2.703,5.319,2.743,5.279,2.743,5.23z M2.293,8.76
            c-0.045,0-0.081,0.034-0.085,0.079c-0.012-0.016-0.03-0.025-0.05-0.025c-0.036,0-0.065,0.029-0.065,0.065s0.029,0.064,0.065,0.064
            c0.032,0,0.057-0.023,0.063-0.053c0.015,0.024,0.042,0.042,0.073,0.042c0.048,0,0.087-0.039,0.087-0.087S2.342,8.76,2.293,8.76z
             M2.507,6.421c-0.022,0-0.041,0.018-0.041,0.041c0,0.015,0.009,0.025,0.021,0.032c-0.015,0.012-0.026,0.03-0.026,0.052
            c0,0.035,0.029,0.064,0.065,0.064c0.002,0,0.004-0.001,0.006-0.001C2.51,6.621,2.494,6.645,2.494,6.673
            c0,0.041,0.033,0.074,0.073,0.074S2.64,6.714,2.64,6.673S2.607,6.6,2.567,6.6c-0.003,0-0.006,0.002-0.01,0.002
            c0.02-0.012,0.034-0.032,0.034-0.056c0-0.032-0.023-0.056-0.052-0.063C2.543,6.477,2.548,6.47,2.548,6.462
            C2.548,6.438,2.53,6.421,2.507,6.421z M3.381,7.837c0-0.068-0.056-0.126-0.125-0.126S3.132,7.769,3.132,7.837
            c0,0.069,0.056,0.125,0.125,0.125S3.381,7.906,3.381,7.837z M3.785,4.918c-0.05,0-0.089,0.04-0.089,0.09
            c0,0.049,0.04,0.09,0.089,0.09c0.049,0,0.089-0.041,0.089-0.09C3.874,4.958,3.833,4.918,3.785,4.918z M3.717,6.926
            c0-0.072-0.058-0.13-0.13-0.13s-0.13,0.058-0.13,0.13s0.058,0.13,0.13,0.13S3.717,6.998,3.717,6.926z M3.122,1.547
            c0.044,0,0.082-0.021,0.107-0.054c0,0.002-0.001,0.003-0.001,0.006c0,0.057,0.045,0.102,0.102,0.102
            c0.056,0,0.101-0.045,0.101-0.102c0-0.056-0.045-0.103-0.101-0.103C3.3,1.396,3.274,1.41,3.255,1.43
            c0.001-0.007,0.004-0.013,0.004-0.021c0-0.075-0.062-0.139-0.138-0.139S2.984,1.333,2.984,1.408
            C2.984,1.485,3.045,1.547,3.122,1.547z M3.503,1.663c0.008,0,0.016-0.003,0.023-0.004C3.525,1.664,3.522,1.67,3.522,1.678
            c0,0.076,0.062,0.139,0.138,0.139c0.077,0,0.138-0.063,0.138-0.139c0-0.078-0.062-0.139-0.138-0.139
            c-0.031,0-0.058,0.012-0.082,0.03C3.57,1.533,3.541,1.507,3.503,1.507c-0.043,0-0.079,0.034-0.079,0.078
            C3.424,1.628,3.459,1.663,3.503,1.663z M2.945,4.853C2.939,4.851,2.934,4.849,2.927,4.849c-0.039,0-0.07,0.032-0.07,0.069
            c0,0.009,0.002,0.019,0.005,0.025C2.85,4.937,2.836,4.93,2.821,4.93c-0.04,0-0.073,0.033-0.073,0.073
            c0,0.011,0.003,0.022,0.008,0.031c-0.023,0.004-0.04,0.022-0.04,0.047c0,0.027,0.021,0.049,0.049,0.049
            c0.026,0,0.048-0.021,0.048-0.049c0-0.003-0.001-0.004-0.001-0.007c0.003,0,0.006,0.003,0.009,0.003
            c0.041,0,0.073-0.034,0.073-0.074c0-0.01-0.002-0.018-0.005-0.025C2.9,4.984,2.913,4.989,2.927,4.989
            c0.039,0,0.07-0.031,0.07-0.071c0-0.007-0.002-0.014-0.004-0.02c0.011,0.004,0.023,0.006,0.036,0.006
            c0.051,0,0.092-0.039,0.094-0.09C3.14,4.828,3.16,4.838,3.184,4.838c0.053,0,0.095-0.042,0.095-0.095
            c0-0.055-0.042-0.097-0.095-0.097c-0.051,0-0.092,0.041-0.094,0.093C3.073,4.726,3.053,4.714,3.029,4.714
            c-0.052,0-0.094,0.044-0.094,0.097C2.935,4.825,2.939,4.839,2.945,4.853z M3.847,5.156c-0.03,0-0.054,0.025-0.054,0.055
            c0,0.024,0.017,0.045,0.039,0.052c-0.007,0.009-0.012,0.02-0.012,0.032c0,0.032,0.025,0.057,0.057,0.057
            c0.031,0,0.057-0.024,0.057-0.057c0-0.027-0.018-0.049-0.043-0.054c0.006-0.009,0.011-0.019,0.011-0.03
            C3.901,5.182,3.876,5.156,3.847,5.156z M3.573,4.675c-0.035,0-0.062,0.027-0.062,0.062c0,0.036,0.027,0.063,0.062,0.063
            c0.021,0,0.04-0.012,0.051-0.027C3.622,4.778,3.619,4.787,3.619,4.795c0,0.037,0.032,0.07,0.07,0.07
            c0.039,0,0.071-0.033,0.071-0.07c0-0.04-0.032-0.072-0.071-0.072c-0.024,0-0.045,0.014-0.058,0.033
            c0.002-0.005,0.004-0.012,0.004-0.02C3.636,4.702,3.607,4.675,3.573,4.675z M4.347,2.228c0.019,0,0.035-0.005,0.051-0.013
            C4.394,2.228,4.39,2.241,4.39,2.255c0,0.059,0.047,0.106,0.106,0.106c0.058,0,0.105-0.048,0.105-0.106S4.554,2.149,4.496,2.149
            c-0.014,0-0.027,0.002-0.039,0.008c0.007-0.015,0.012-0.032,0.012-0.051c0-0.068-0.055-0.122-0.122-0.122
            c-0.067,0-0.122,0.054-0.122,0.122C4.225,2.173,4.28,2.228,4.347,2.228z M5.183,3.128c0.039,0,0.07-0.031,0.07-0.07
            s-0.031-0.07-0.07-0.07s-0.07,0.031-0.07,0.07S5.144,3.128,5.183,3.128z M4.556,2.407c0,0.071,0.058,0.129,0.13,0.129
            c0.023,0,0.044-0.007,0.063-0.019C4.737,2.534,4.729,2.553,4.729,2.574c0,0.055,0.043,0.098,0.097,0.098
            c0.009,0,0.017-0.003,0.025-0.005C4.845,2.679,4.842,2.692,4.842,2.708c0,0.056,0.045,0.102,0.1,0.102
            c0.009,0,0.018-0.004,0.027-0.007C4.958,2.82,4.951,2.84,4.951,2.86c0,0.058,0.047,0.105,0.105,0.105S5.161,2.918,5.161,2.86
            c0-0.059-0.047-0.105-0.105-0.105c-0.011,0-0.021,0.003-0.03,0.006c0.01-0.016,0.017-0.033,0.017-0.053
            c0-0.056-0.045-0.102-0.1-0.102c-0.01,0-0.018,0.004-0.027,0.006C4.92,2.601,4.923,2.589,4.923,2.574
            c0-0.053-0.043-0.097-0.098-0.097c-0.015,0-0.028,0.003-0.041,0.009c0.018-0.022,0.03-0.049,0.03-0.079
            c0-0.073-0.058-0.131-0.129-0.131C4.614,2.276,4.556,2.334,4.556,2.407z M7.25,2.129C7.258,2.25,7.285,2.356,7.331,2.439
            C7.322,2.363,7.333,2.27,7.357,2.169c0,0.1,0.011,0.204,0.039,0.311C7.42,2.285,7.474,2.114,7.549,1.966
            C7.445,2.231,7.429,2.488,7.55,2.618c-0.008-0.366,0.268-1.01,0.803-1.196c0.536-0.187,1.023,0.009,1.186,0.22
            C9.522,1.525,9.478,1.428,9.412,1.347c0.086,0.05,0.162,0.108,0.225,0.182c-0.039-0.12-0.094-0.222-0.158-0.307
            c0.063,0.047,0.117,0.097,0.158,0.152C9.616,1.263,9.575,1.161,9.52,1.069C9.451,0.878,9.342,0.727,9.202,0.614
            C8.951,0.286,8.561,0.062,8.037,0.235C7.446,0.43,7.176,1.043,7.191,1.737C7.167,1.955,7.177,2.166,7.218,2.333
            C7.218,2.258,7.231,2.191,7.25,2.129z M5.278,3.264c0.006,0,0.012-0.002,0.017-0.004C5.293,3.267,5.292,3.271,5.292,3.277
            c0,0.022,0.009,0.041,0.022,0.057C5.307,3.349,5.302,3.366,5.302,3.383c0,0.063,0.051,0.114,0.114,0.114
            c0.013,0,0.024-0.004,0.035-0.007c-0.018,0.015-0.03,0.036-0.03,0.06c0,0.037,0.023,0.066,0.055,0.077
            c-0.01,0.019-0.017,0.037-0.017,0.06c0,0.07,0.056,0.126,0.125,0.126c0.004,0,0.007-0.002,0.01-0.002
            C5.575,3.832,5.562,3.861,5.562,3.895c0,0.071,0.058,0.13,0.13,0.13c0.003,0,0.006-0.003,0.01-0.003
            C5.682,4.041,5.67,4.067,5.67,4.097c0,0.052,0.038,0.093,0.086,0.101C5.749,4.211,5.743,4.226,5.743,4.24
            c0,0.037,0.026,0.067,0.06,0.075C5.77,4.338,5.746,4.373,5.746,4.416c0,0.067,0.055,0.122,0.122,0.122
            c0.067,0,0.122-0.055,0.122-0.122c0-0.063-0.05-0.115-0.113-0.12C5.891,4.282,5.9,4.263,5.9,4.24c0-0.032-0.021-0.06-0.048-0.072
            c0.018-0.02,0.029-0.043,0.029-0.071c0-0.058-0.047-0.105-0.106-0.105c0,0,0,0,0,0c0.028-0.024,0.047-0.059,0.047-0.097
            c0-0.073-0.058-0.132-0.13-0.132c-0.005,0-0.009,0.003-0.014,0.004c0.018-0.022,0.03-0.05,0.03-0.08
            c0-0.069-0.056-0.125-0.125-0.125H5.582c0-0.003,0.002-0.006,0.002-0.012c0-0.044-0.036-0.079-0.081-0.079
            c-0.008,0-0.015,0.002-0.022,0.003c0.029-0.021,0.049-0.052,0.049-0.091c0-0.047-0.029-0.087-0.07-0.105
            c0-0.047-0.038-0.085-0.083-0.085c-0.013,0-0.025,0.005-0.035,0.01c0-0.035-0.028-0.063-0.063-0.063
            c-0.035,0-0.063,0.027-0.063,0.063C5.215,3.236,5.243,3.264,5.278,3.264z M2.448,6.405c0.038,0,0.068-0.032,0.068-0.068
            c0-0.033-0.024-0.059-0.056-0.065C2.483,6.26,2.499,6.237,2.499,6.21c0-0.031-0.019-0.056-0.045-0.065
            C2.458,6.137,2.461,6.13,2.461,6.119c0-0.021-0.015-0.038-0.036-0.043C2.446,6.069,2.461,6.05,2.461,6.027
            c0-0.028-0.023-0.05-0.052-0.05c-0.028,0-0.051,0.021-0.051,0.05c0,0.025,0.018,0.044,0.041,0.05
            c-0.018,0.007-0.03,0.023-0.03,0.042c0,0.015,0.007,0.027,0.017,0.036C2.37,6.168,2.358,6.187,2.358,6.21
            c0,0.033,0.026,0.062,0.058,0.066C2.396,6.289,2.38,6.31,2.38,6.337C2.38,6.373,2.411,6.405,2.448,6.405z M3.538,7.405
            c0-0.073-0.06-0.133-0.133-0.133s-0.132,0.06-0.132,0.133c0,0.05,0.028,0.091,0.068,0.114C3.309,7.525,3.284,7.554,3.284,7.587
            c0,0.039,0.032,0.069,0.07,0.069c0.039,0,0.07-0.03,0.07-0.069c0-0.02-0.007-0.036-0.02-0.05c0,0,0,0,0.001,0
            C3.479,7.537,3.538,7.478,3.538,7.405z M3.138,7.95c-0.042,0-0.076,0.035-0.076,0.076c0,0.004,0.001,0.006,0.001,0.008
            c-0.004,0-0.008-0.002-0.012-0.002c-0.057,0-0.103,0.046-0.103,0.103c0,0.019,0.006,0.035,0.015,0.05
            c-0.01-0.004-0.02-0.006-0.031-0.006c-0.053,0-0.097,0.043-0.097,0.098c0,0.053,0.044,0.097,0.097,0.097
            c0.054,0,0.098-0.044,0.098-0.097c0-0.018-0.005-0.031-0.012-0.046c0.011,0.005,0.022,0.008,0.034,0.008
            c0.057,0,0.103-0.046,0.103-0.104c0-0.012-0.003-0.023-0.007-0.033c0.037-0.006,0.066-0.036,0.066-0.075
            C3.213,7.985,3.18,7.95,3.138,7.95z M3.893,1.913c0.021,0,0.04-0.007,0.056-0.017c0.01,0.04,0.046,0.071,0.09,0.071
            c0.012,0,0.023-0.003,0.033-0.007C4.071,1.967,4.068,1.973,4.068,1.978c0,0.052,0.042,0.093,0.092,0.093s0.092-0.041,0.092-0.093
            c0-0.05-0.041-0.091-0.092-0.091c-0.011,0-0.021,0.002-0.031,0.005C4.131,1.887,4.133,1.88,4.133,1.873
            c0-0.053-0.042-0.095-0.095-0.095C4.025,1.778,4.012,1.78,4,1.786C3.992,1.732,3.948,1.69,3.893,1.69
            c-0.061,0-0.111,0.051-0.111,0.112S3.832,1.913,3.893,1.913z M3.868,5.363c-0.057,0-0.103,0.045-0.103,0.104
            c0,0.047,0.033,0.086,0.078,0.098C3.823,5.573,3.809,5.594,3.809,5.618c0,0.021,0.013,0.041,0.031,0.051
            C3.815,5.685,3.798,5.71,3.798,5.743c0,0.027,0.013,0.051,0.033,0.066c-0.039,0.015-0.065,0.05-0.065,0.094
            c0,0.056,0.044,0.101,0.1,0.101c0.056,0,0.101-0.045,0.101-0.101c0-0.034-0.019-0.063-0.045-0.081
            c0.03-0.015,0.05-0.044,0.05-0.079c0-0.04-0.026-0.071-0.062-0.082C3.92,5.65,3.928,5.635,3.928,5.618
            c0-0.024-0.014-0.045-0.035-0.054c0.044-0.012,0.078-0.051,0.078-0.098C3.971,5.408,3.925,5.363,3.868,5.363z M3.841,6.004
            c-0.054,0-0.098,0.044-0.098,0.097c0,0.032,0.017,0.061,0.041,0.077C3.767,6.189,3.755,6.209,3.755,6.231
            c0,0.018,0.007,0.033,0.018,0.044C3.727,6.279,3.689,6.316,3.689,6.364c0,0.03,0.017,0.057,0.042,0.073c0,0,0,0,0,0
            c-0.053,0-0.095,0.042-0.095,0.095c0,0.034,0.02,0.063,0.047,0.08C3.65,6.617,3.625,6.644,3.625,6.678
            c0,0.039,0.031,0.069,0.068,0.069S3.76,6.717,3.76,6.678c0-0.021-0.011-0.038-0.026-0.053c0.051-0.001,0.091-0.042,0.091-0.093
            c0-0.033-0.019-0.063-0.045-0.079c0.049-0.002,0.088-0.04,0.088-0.089c0-0.029-0.015-0.055-0.037-0.07
            c0.03-0.006,0.053-0.032,0.053-0.063c0-0.015-0.006-0.027-0.014-0.038C3.91,6.18,3.938,6.145,3.938,6.101
            C3.938,6.048,3.895,6.004,3.841,6.004z M2.883,8.492c0-0.063-0.051-0.113-0.114-0.113c-0.063,0-0.113,0.051-0.113,0.113
            c0,0.026,0.01,0.049,0.024,0.068c-0.035,0.005-0.062,0.035-0.062,0.07c0,0.013,0.004,0.023,0.009,0.033
            C2.615,8.659,2.602,8.655,2.588,8.655c-0.052,0-0.095,0.042-0.095,0.096c-0.01-0.005-0.021-0.008-0.032-0.008
            c-0.042,0-0.076,0.035-0.076,0.076c0,0.042,0.034,0.075,0.076,0.075c0.039,0,0.069-0.029,0.074-0.066
            c0.015,0.01,0.033,0.018,0.053,0.018c0.052,0,0.095-0.042,0.095-0.095c0-0.02-0.007-0.036-0.017-0.052
            c0.008,0.003,0.016,0.005,0.025,0.005c0.04,0,0.073-0.032,0.073-0.073c0-0.009-0.002-0.018-0.005-0.026
            c0.003,0,0.007,0.002,0.01,0.002C2.833,8.606,2.883,8.556,2.883,8.492z M0.373,4.791c0.05,0,0.089-0.039,0.089-0.09
            c0-0.033-0.019-0.063-0.047-0.077C0.447,4.61,0.47,4.578,0.47,4.541c0-0.05-0.04-0.09-0.089-0.09c-0.05,0-0.089,0.04-0.089,0.09
            c0,0.034,0.02,0.062,0.047,0.078C0.306,4.632,0.284,4.664,0.284,4.701C0.284,4.752,0.323,4.791,0.373,4.791z M0.356,5.07
            c0.054,0,0.098-0.044,0.098-0.098c0-0.024-0.011-0.047-0.026-0.064c0.002-0.006,0.004-0.013,0.004-0.02
            c0-0.037-0.03-0.067-0.067-0.067c-0.038,0-0.068,0.03-0.068,0.067c0,0.003,0.001,0.005,0.002,0.008
            c-0.024,0.019-0.04,0.045-0.04,0.076C0.259,5.026,0.303,5.07,0.356,5.07z M0.308,5.646c0.064,0,0.116-0.051,0.116-0.115
            c0-0.044-0.024-0.079-0.06-0.1c0.036-0.015,0.062-0.049,0.062-0.09c0-0.045-0.03-0.081-0.071-0.093
            c0.017-0.014,0.027-0.031,0.027-0.053c0-0.04-0.032-0.072-0.07-0.072s-0.07,0.032-0.07,0.072c0,0.026,0.017,0.05,0.04,0.061
            c-0.029,0.018-0.05,0.048-0.05,0.085c0,0.033,0.018,0.061,0.044,0.079c-0.049,0.015-0.085,0.058-0.085,0.11
            C0.191,5.596,0.244,5.646,0.308,5.646z M0.541,4.089c0-0.039-0.032-0.071-0.071-0.071c-0.039,0-0.07,0.032-0.07,0.071
            c0,0.038,0.031,0.07,0.07,0.07C0.509,4.159,0.541,4.127,0.541,4.089z M0.321,6.145c0.07,0,0.127-0.058,0.127-0.128
            c0-0.051-0.031-0.095-0.075-0.114C0.402,5.88,0.421,5.848,0.421,5.809c0-0.065-0.053-0.12-0.119-0.12
            c-0.065,0-0.119,0.055-0.119,0.12c0,0.047,0.028,0.085,0.067,0.106C0.217,5.937,0.194,5.974,0.194,6.017
            C0.194,6.087,0.251,6.145,0.321,6.145z M0.396,4.415c0.047,0,0.084-0.039,0.084-0.085c0-0.018-0.005-0.03-0.013-0.043
            c0.018-0.013,0.03-0.032,0.03-0.055c0-0.037-0.03-0.068-0.067-0.068c-0.038,0-0.068,0.031-0.068,0.068
            c0,0.007,0.002,0.014,0.004,0.02C0.335,4.265,0.313,4.296,0.313,4.33C0.313,4.376,0.351,4.415,0.396,4.415z M0.47,6.48
            c0-0.046-0.026-0.086-0.063-0.108c0.021-0.02,0.036-0.048,0.036-0.078c0-0.06-0.047-0.106-0.105-0.106
            c-0.059,0-0.106,0.047-0.106,0.106c0,0.032,0.016,0.06,0.039,0.079C0.235,6.396,0.21,6.436,0.21,6.48
            c0,0.071,0.058,0.13,0.13,0.13C0.412,6.61,0.47,6.552,0.47,6.48z M0.735,7.711c0-0.086-0.07-0.156-0.157-0.156
            c-0.086,0-0.157,0.07-0.157,0.156c0,0.089,0.07,0.158,0.157,0.158C0.665,7.869,0.735,7.8,0.735,7.711z M13.646,8.03
            c-0.631-0.773-2.059-1.632-3.084-2.146c0.514-0.305,0.912-0.953,0.912-1.632c0-1.132-0.915-2.05-2.045-2.05
            c-1.129,0-2.045,0.918-2.045,2.05c0,0.118,0.012,0.232,0.031,0.346C7.272,4.634,7.18,4.657,7.056,4.729
            c0.048-0.456,0.021-1.634-0.049-1.817C6.974,3.009,6.915,3.128,6.861,3.204C6.875,3.059,6.875,2.938,6.839,2.81
            C6.667,3.465,6.403,4.108,6.086,4.711C6.074,4.701,6.074,4.68,6.058,4.676C6.065,4.663,6.07,4.648,6.07,4.633
            c0-0.046-0.037-0.084-0.084-0.084c-0.046,0-0.084,0.038-0.084,0.084c0,0.03,0.017,0.056,0.041,0.07
            C5.921,4.726,5.908,4.755,5.908,4.789c0,0.049,0.034,0.082,0.076,0.101c-0.259,0.469-0.544,0.913-0.853,1.3
            C5.209,6.153,5.301,6.091,5.4,6.007C5.254,6.19,5.118,6.349,5.002,6.458c0.146-0.041,0.304-0.131,0.462-0.254
            c-0.185,0.203-0.342,0.351-0.43,0.425C5.14,6.617,5.249,6.58,5.357,6.524C5.298,6.573,5.239,6.62,5.18,6.662
            c0.095-0.013,0.19-0.044,0.286-0.09c0.116-0.001,0.24-0.031,0.366-0.092c-0.004,0.055-0.008,0.11-0.008,0.166
            c0,0.83,0.478,1.549,1.172,1.894c-0.166,2.175-0.753,6.215-1.145,7.874c-0.303-0.071-0.691,0.009-1.019,0.357
            c-0.204,0.216-0.79,1.063-1.548,1.908c-0.575,0.643-1.105,1.249-1.347,1.547c-0.577,0.712-0.554,1.414,0.066,1.693
            c0.702,0.316,1.575,0.572,2.021,0.757c-0.468,1.736-0.938,3.613-1.193,5.142c-0.604,1.26-0.012,3.538-0.085,4.052
            c-0.038,0.267-1.046,1.918-1.599,2.836c-0.232,0.05-0.429,0.096-0.576,0.135c0,0.486-0.033,1.179-0.024,1.285
            c0.1,0,0.2-0.002,0.299-0.003c0,0.124-0.003,0.279,0.089,0.293c0.114,0.016,1.406,0.106,1.551,0.106
            c0.146,0,0.183-0.062,0.231-0.265c0.844,0.301,3.733,0.854,4.926,0.05c0.574-0.386,0.356-0.91-0.23-0.906
            c-0.322,0.003-0.698,0.038-0.958,0.061c0.019-0.424-0.008-0.971-0.085-1.459c-0.037-0.005-0.079-0.007-0.124-0.008
            c0.146-0.498,0.459-1.343,0.469-1.718c0.013-0.494-0.329-1.173-0.471-1.457c0.374,0.375,0.903,0.879,0.969,1.231
            c0.06,0.328-0.255,1.189-0.361,1.851c-0.063,0.018-0.118,0.035-0.163,0.05c0,0.177-0.04,0.819-0.064,1.1
            c0.063-0.004,0.146-0.012,0.246-0.022c-0.004,0.087,0.007,0.172,0.104,0.186c0.125,0.016,1.258,0.042,1.372,0.049
            c0.113,0.004,0.176-0.163,0.203-0.245c1.488,0.494,3.379,0.591,4.073-0.147c0.492-0.524,0.23-1.104-0.343-0.979
            C12,33.95,11.753,34.06,11.287,34.154c0.032-0.337,0.047-1.002,0.01-1.284c-0.113,0.014-0.245,0.032-0.389,0.058
            c0.078-0.563,0.076-1.063-0.152-1.498c-0.305-0.58-3.111-2.366-3.974-3.44c0.104-1.107,0.244-2.621,0.385-4.195
            c0.004,0.003,0.009,0.005,0.013,0.007c0.495,0.297,0.933,1.094,0.92,1.596c-0.015,0.569-0.161,1.138-0.514,1.865
            c-0.447,0.92,0.534,1.374,0.963,0.63c0.053-0.093,0.102-0.204,0.145-0.326c-0.05,0.291-0.1,0.508-0.123,0.651
            c-0.1,0.628,0.478,0.963,0.832,0.572c0.523,0.078,0.908-0.324,1.008-0.887c0.776-0.497,0.489-2.984-1.018-4.357
            c-0.693-0.632-1.369-1.069-2.085-1.316c0.101-1.139,0.197-2.247,0.275-3.196c0.841,1.079,2.682,2.824,3.675,3.516
            c0.673,0.471,1.433,0.278,1.426-0.528c-0.008-0.861-0.158-2.298-0.564-2.924c0.068-0.062,0.121-0.127,0.146-0.195
            c-0.008-0.229-0.097-1.058-0.113-1.189c-0.01-0.081-0.074-0.147-0.14-0.193c0.03-0.047,0.058-0.093,0.081-0.145
            c0.443-1.004,1.166-1.744,1.235-2.313c0.076-0.615-0.61-1.929-2.227-2.525c-0.177-0.065-0.374-0.113-0.535-0.141
            c0.417-0.439,0.714-0.654,0.676-0.792c-0.118-0.436-2.323,0.22-3.506,1.644c0.125-1.682,1.21-3.228,2.983-3.417
            c0.456-0.049,0.594-0.271,0.434-0.811c-0.113-0.385-0.214-0.792-0.365-1.151c0.574,0.681,1.353,1.429,1.729,1.75
            c0.658,0.562,1.182,0.784,1.534,0.562C14.483,9.905,14.291,8.819,13.646,8.03z M4.461,21.082c-0.469-0.104-0.945-0.216-1.264-0.33
            c0.568-0.588,1.626-1.533,1.861-1.833C4.898,19.518,4.689,20.261,4.461,21.082z M9.33,13.986c0.383,0.368,0.85,0.694,1.327,1.172
            c0.04,0.59-0.251,0.973-0.36,1.547c-0.075,0.392-0.001,0.714,0.162,0.937c-0.057,0.082-0.096,0.201-0.084,0.307
            c0.017,0.146,0.105,0.839,0.179,1.196c0.016,0.014,0.032,0.024,0.05,0.037c-0.081,0.137-0.113,0.338-0.082,0.54
            c0.009,0.06,0.032,0.164,0.063,0.293c-0.577-0.542-1.446-1.547-1.859-2.083c0.26-0.62,0.504-1.421,0.538-1.747
            c-0.317,0.011-0.72,0.305-0.899,0.529c-0.053-0.031-0.148-0.066-0.254-0.099C8.422,15.599,8.847,14.726,9.33,13.986z M0.611,7.416
            c0-0.073-0.06-0.133-0.132-0.133c-0.073,0-0.133,0.06-0.133,0.133s0.06,0.132,0.133,0.132C0.551,7.548,0.611,7.489,0.611,7.416z
             M0.524,7.104c0-0.047-0.026-0.085-0.063-0.106c0.028-0.021,0.048-0.054,0.048-0.091c0-0.056-0.039-0.099-0.089-0.111
            c0.018-0.015,0.03-0.036,0.03-0.063c0-0.048-0.038-0.084-0.084-0.084c-0.047,0-0.084,0.036-0.084,0.084
            c0,0.033,0.021,0.063,0.05,0.075C0.298,6.83,0.275,6.865,0.275,6.907c0,0.041,0.022,0.075,0.055,0.097
            C0.298,7.026,0.275,7.063,0.275,7.104c0,0.07,0.056,0.126,0.125,0.126C0.468,7.23,0.524,7.175,0.524,7.104z M0.578,3.934
            c0-0.042-0.035-0.078-0.079-0.078c-0.043,0-0.079,0.036-0.079,0.078c0,0.044,0.036,0.08,0.079,0.08
            C0.543,4.014,0.578,3.978,0.578,3.934z M1.769,8.868c-0.054,0-0.097,0.044-0.097,0.097c0,0.055,0.043,0.098,0.097,0.098
            c0.054,0,0.098-0.043,0.098-0.098C1.866,8.912,1.823,8.868,1.769,8.868z M1.898,1.646c0.01,0.005,0.021,0.007,0.033,0.007
            c0.047,0,0.086-0.038,0.086-0.087c0-0.004-0.002-0.009-0.003-0.014C2.03,1.56,2.046,1.565,2.063,1.565
            c0.059,0,0.105-0.047,0.105-0.106c0-0.009-0.003-0.021-0.006-0.03c0.018,0.013,0.039,0.023,0.063,0.023
            c0.058,0,0.105-0.047,0.105-0.105S2.284,1.24,2.226,1.24c-0.059,0-0.105,0.048-0.105,0.106c0,0.011,0.003,0.021,0.006,0.03
            C2.109,1.363,2.088,1.354,2.063,1.354c-0.058,0-0.105,0.048-0.105,0.104c0,0.011,0.003,0.019,0.005,0.026
            c-0.01-0.004-0.021-0.007-0.032-0.007c-0.042,0-0.076,0.031-0.083,0.072c0,0,0,0,0,0c-0.034,0-0.062,0.026-0.062,0.062
            c0,0.033,0.028,0.062,0.062,0.062C1.869,1.674,1.887,1.663,1.898,1.646z M0.6,3.776c0-0.03-0.025-0.058-0.057-0.058
            c-0.031,0-0.057,0.027-0.057,0.058c0,0.031,0.025,0.057,0.057,0.057C0.575,3.833,0.6,3.808,0.6,3.776z M1.872,8.928
            c0,0.048,0.039,0.086,0.086,0.086s0.086-0.038,0.086-0.086c0-0.049-0.039-0.088-0.086-0.088S1.872,8.879,1.872,8.928z
             M2.415,5.955c0.044,0,0.079-0.036,0.079-0.08c0-0.022-0.01-0.041-0.024-0.056c0.018-0.013,0.03-0.033,0.03-0.057
            c0-0.042-0.032-0.074-0.073-0.074c-0.04,0-0.073,0.032-0.073,0.074c0,0.019,0.008,0.036,0.02,0.049
            C2.352,5.826,2.337,5.849,2.337,5.875C2.337,5.919,2.372,5.955,2.415,5.955z M2.448,5.688c0.053,0,0.095-0.042,0.095-0.095
            c0-0.013-0.003-0.024-0.006-0.033c0.031-0.008,0.055-0.036,0.055-0.07c0-0.003-0.001-0.005-0.002-0.007
            c0.02-0.013,0.035-0.033,0.035-0.059c0-0.038-0.031-0.067-0.068-0.067S2.489,5.387,2.489,5.424
            C2.463,5.436,2.445,5.461,2.445,5.49c0,0.003,0.001,0.005,0.002,0.009C2.395,5.5,2.353,5.541,2.353,5.594S2.396,5.688,2.448,5.688
            z M2.494,1.326c0.012,0.01,0.028,0.018,0.046,0.018c0.034,0,0.062-0.025,0.069-0.056c0.005,0.044,0.04,0.077,0.084,0.077
            c0.028,0,0.052-0.014,0.068-0.035c0.007,0.045,0.043,0.078,0.089,0.078c0.051,0,0.092-0.041,0.092-0.092S2.901,1.225,2.851,1.225
            c-0.03,0-0.056,0.016-0.073,0.038c-0.008-0.039-0.042-0.07-0.084-0.07c-0.042,0-0.075,0.029-0.083,0.069
            C2.606,1.226,2.577,1.196,2.54,1.196c-0.032,0-0.058,0.021-0.068,0.05c-0.012-0.01-0.027-0.018-0.042-0.018
            c-0.039,0-0.071,0.033-0.071,0.071c0,0.04,0.032,0.07,0.071,0.07C2.458,1.37,2.484,1.353,2.494,1.326z M1.558,9.031
            c0.057,0,0.103-0.048,0.103-0.104c0-0.057-0.045-0.104-0.103-0.104c-0.057,0-0.103,0.047-0.103,0.104
            C1.455,8.983,1.501,9.031,1.558,9.031z M0.6,3.697c0.042,0,0.075-0.034,0.075-0.075c0-0.024-0.011-0.044-0.028-0.059
            c0.032-0.008,0.056-0.037,0.056-0.071c0-0.026-0.013-0.047-0.032-0.062C0.707,3.43,0.735,3.4,0.735,3.364
            c0-0.013-0.005-0.025-0.012-0.037c0.023-0.011,0.039-0.033,0.039-0.061c0-0.026-0.016-0.051-0.039-0.062
            C0.729,3.208,0.736,3.21,0.743,3.21c0.035,0,0.062-0.028,0.062-0.063c0-0.011-0.003-0.021-0.007-0.028
            c0.023-0.008,0.041-0.03,0.041-0.056c0-0.01-0.003-0.02-0.008-0.027h0.002c0.036,0,0.064-0.029,0.064-0.065
            c0-0.013-0.005-0.025-0.012-0.034C0.911,2.929,0.93,2.906,0.93,2.879c0-0.015-0.006-0.028-0.016-0.039
            c0.002,0,0.004,0.002,0.007,0.002C0.965,2.842,1,2.806,1,2.762C1,2.72,0.965,2.683,0.922,2.683S0.843,2.72,0.843,2.762
            c0,0.024,0.01,0.044,0.025,0.059c-0.032,0-0.058,0.026-0.058,0.059c0,0.011,0.004,0.021,0.009,0.03
            c-0.029,0.006-0.052,0.03-0.052,0.062c0,0.013,0.004,0.023,0.01,0.033c-0.033,0-0.059,0.027-0.059,0.06
            c0,0.009,0.003,0.018,0.006,0.025C0.7,3.097,0.681,3.119,0.681,3.147c0,0.023,0.015,0.045,0.036,0.056
            C0.71,3.2,0.703,3.199,0.694,3.199c-0.037,0-0.067,0.03-0.067,0.067c0,0.014,0.005,0.025,0.012,0.037
            C0.616,3.313,0.6,3.338,0.6,3.364c0,0.021,0.01,0.039,0.025,0.052c-0.041,0-0.074,0.034-0.074,0.076
            c0,0.022,0.012,0.044,0.029,0.058C0.548,3.559,0.524,3.587,0.524,3.622C0.524,3.663,0.558,3.697,0.6,3.697z M1.011,2.678
            c0.051,0,0.092-0.041,0.092-0.093c0-0.015-0.005-0.029-0.012-0.043c0,0,0.001,0,0.001,0c0.045,0,0.081-0.035,0.081-0.082
            c0-0.015-0.005-0.027-0.012-0.039c0.028-0.005,0.05-0.028,0.05-0.058c0-0.007-0.002-0.012-0.004-0.019
            c0.003,0.001,0.006,0.002,0.009,0.002c0.033,0,0.06-0.026,0.06-0.059c0-0.006-0.002-0.01-0.002-0.014
            c0.004,0,0.008,0.002,0.013,0.002c0.066,0,0.119-0.054,0.119-0.119c0-0.006-0.002-0.01-0.003-0.015
            C1.41,2.144,1.416,2.146,1.422,2.146c0.06,0,0.108-0.048,0.108-0.108c0-0.019-0.007-0.036-0.016-0.052
            c0.006,0.001,0.012,0.002,0.018,0.002c0.05,0,0.089-0.038,0.089-0.089c0.005,0.002,0.011,0.003,0.017,0.003
            c0.047,0,0.086-0.038,0.086-0.086c0-0.008-0.002-0.015-0.004-0.022c0.008,0.004,0.017,0.005,0.026,0.005
            c0.039,0,0.07-0.03,0.07-0.069c0-0.04-0.032-0.071-0.07-0.071s-0.07,0.031-0.07,0.071c0,0.005,0.001,0.008,0.002,0.012
            c-0.012-0.007-0.026-0.012-0.04-0.012c-0.048,0-0.085,0.038-0.086,0.084C1.546,1.813,1.54,1.811,1.533,1.811
            c-0.049,0-0.089,0.04-0.089,0.089c0,0.013,0.003,0.025,0.008,0.036C1.442,1.933,1.433,1.931,1.422,1.931
            c-0.06,0-0.108,0.047-0.108,0.107c0,0.002,0.001,0.004,0.001,0.006C1.306,2.042,1.297,2.038,1.287,2.038
            c-0.065,0-0.119,0.054-0.119,0.119c0,0.027,0.011,0.055,0.028,0.075C1.173,2.241,1.157,2.262,1.157,2.288
            c0,0.005,0.001,0.012,0.004,0.018C1.158,2.304,1.155,2.304,1.152,2.304c-0.033,0-0.06,0.026-0.06,0.06
            c0,0.006,0.002,0.011,0.003,0.018c-0.001,0-0.002-0.002-0.003-0.002c-0.044,0-0.081,0.037-0.081,0.081
            c0,0.013,0.003,0.025,0.008,0.035c-0.003,0-0.005-0.001-0.008-0.001c-0.051,0-0.092,0.041-0.092,0.091
            C0.919,2.637,0.96,2.678,1.011,2.678z M1.092,8.794c0.076,0,0.138-0.063,0.138-0.139c0-0.077-0.062-0.138-0.138-0.138
            c-0.018,0-0.035,0.004-0.051,0.011c0.018-0.022,0.03-0.049,0.03-0.08c0-0.067-0.056-0.123-0.125-0.123
            c-0.003,0-0.007,0.001-0.011,0.001C0.938,8.318,0.941,8.31,0.941,8.301c0-0.062-0.044-0.108-0.102-0.118
            c0.006-0.013,0.01-0.026,0.01-0.043c0-0.05-0.039-0.089-0.087-0.094c0.01-0.015,0.017-0.03,0.017-0.048
            c0-0.048-0.038-0.085-0.084-0.085c-0.046,0-0.083,0.037-0.083,0.085c0,0.04,0.029,0.071,0.068,0.08
            C0.664,8.095,0.654,8.117,0.654,8.14c0,0.044,0.028,0.08,0.067,0.092c-0.014,0.02-0.024,0.042-0.024,0.069
            c0,0.067,0.055,0.121,0.122,0.121c0.003,0,0.006-0.001,0.009-0.001C0.825,8.43,0.822,8.439,0.822,8.448
            c0,0.07,0.056,0.126,0.125,0.126c0.016,0,0.03-0.004,0.043-0.009c-0.021,0.023-0.035,0.056-0.035,0.09
            C0.955,8.731,1.016,8.794,1.092,8.794z M1.325,9.031c0.071,0,0.129-0.059,0.129-0.131s-0.058-0.13-0.129-0.13
            c-0.072,0-0.13,0.058-0.13,0.13S1.253,9.031,1.325,9.031z"/>
  </symbol>
  <symbol id="video" viewBox="0 0 29 21">
        <path  d="M26.556,0.006H2.444c-1.337,0-2.432,1.049-2.432,2.331v16.325
            c0,1.282,1.094,2.331,2.432,2.331h24.112c1.337,0,2.432-1.049,2.432-2.331V2.337C28.987,1.055,27.893,0.006,26.556,0.006z
             M4.875,18.662H2.444v-2.333h2.431V18.662z M4.875,13.998H2.444v-2.332h2.431V13.998z M4.875,9.333H2.444V7.002h2.431V9.333z
             M4.875,4.67H2.444V2.337h2.431V4.67z M10.987,14.533V5.442l7.902,4.546L10.987,14.533z M26.556,18.662h-2.432v-2.333h2.432
            V18.662z M26.556,13.998h-2.432v-2.332h2.432V13.998z M26.556,9.333h-2.432V7.002h2.432V9.333z M26.556,4.67h-2.432V2.337h2.432
            V4.67z"/>
  </symbol>  
  <symbol id="joy" viewBox="0 0 22 51">
        <path d="M10.964,15.142c1.774-0.131,4.468-0.624,6.292-3.546c1.608-2.581,1.749-5.821,4.126-8.043
            c-0.189-0.064-0.455-0.091-0.709-0.039c0.272-0.32,0.561-0.641,0.741-0.84c-0.387-0.078-1.111,0.149-1.592,0.478
            c0.022-0.116,0.019-0.231-0.018-0.325c-0.271,0.26-0.862,0.755-1.782,0.704c-0.584-0.033-1.707-0.478-2.83-1.203
            c-1.786-1.155-3.716-2.536-5.498-1.518c0.26,0.033,0.624,0.097,1.015,0.182C7.914,0.852,4.946,2.25,4.586,4.918
            C4.712,4.819,4.864,4.711,5.042,4.6C4.486,5.276,4.119,5.961,3.992,6.945c0.076-0.087,0.238-0.239,0.346-0.347
            C3.782,7.755,3.604,8.82,3.968,10.414c0.239,1.995,1.765,3.945,3.835,4.624c-0.074,0.321-0.212,0.723-0.351,1.049
            c-0.335-0.058-0.796-0.048-1.369,0.105c-2.045,0.548-5.082,1.998-5.452,3.521c-0.408,1.677,1.947,4.784,2.283,5.576
            c0.278,0.657,0.443,1.587,0.637,1.761c0.165,0.147,0.655,0.17,0.949,0.145c-0.167,2.5-1.13,10.497-1.417,12.034
            c0.464,0.2,1.177,0.408,1.933,0.561c0.038,1.612,0.598,6.441,0.249,6.874c-0.341,0.423-3.01,0.786-3.002,1.364
            c0.002,0.169,0.161,0.387,0.607,0.391c1.191,0.008,3.279-0.152,3.465-0.388c0.293-0.375,0.152-0.791,0.233-1.317
            c0.08-0.52,1.468-4.507,1.526-6.643c0.048,0,0.155,0,0.202-0.003c1.026-0.041,1.84-0.191,2.555-0.375
            c0.728,2.139,2.667,7.367,2.881,8.562c0.083,0.459,0.098,0.845,0.346,1.257c0.211,0.35,1.566,0.867,2.183,1.008
            c0.44,0.102,1.122-0.051,0.647-0.605c-0.258-0.304-1.674-1.246-1.824-1.615c-0.146-0.355-0.708-6.479-1.311-9.394
            c0.32-0.053,0.654-0.087,1.018-0.094c-0.562-5.926-2.938-9.165-3.864-11.254c0.046,0.008,0.092,0.012,0.139,0.012
            c0.044,0.055,0.098,0.096,0.161,0.113c0.3,0.08,0.592-0.343,0.673-0.505c0.06-0.12,0.049-0.254-0.014-0.332
            c0.492-0.288,0.972-0.797,1.457-1.164c0.898-0.683,2.072-1.248,3.159-2.228c1.118-1.008,1.399-1.731,1.337-2.325
            c-0.098-0.926-4.88-4.54-7.55-4.95c0.051-0.304,0.25-0.689,0.44-0.993C10.809,15.172,10.887,15.158,10.964,15.142z M4.153,21.492
            c-0.099,1.259,0.03,2.321,0.163,3.271c-0.232-0.098-0.508-0.275-0.599-0.514c-0.173-0.462-0.412-2.708-0.981-4.258
            c0.521-0.166,1.299-0.407,1.839-0.615C4.371,20.039,4.209,20.786,4.153,21.492z M11.147,19.471c1.447,0.305,3.302,1.28,3.97,1.934
            c-0.777,0.797-2.084,2.732-2.861,3.284c-0.546,0.389-1.309,0.557-1.795,0.688C10.573,23.796,10.875,20.826,11.147,19.471z"/>
  </symbol>  
  <symbol id="about" viewBox="0 0 21 18">
        <path d="M20,0H1C0.448,0,0,0.447,0,1v0.563c0,0.553,0.448,1,1,1h19
            c0.553,0,1-0.447,1-1V1C21,0.447,20.553,0,20,0z M20,5.125H1c-0.552,0-1,0.447-1,1v0.563c0,0.553,0.448,1,1,1h19
            c0.553,0,1-0.447,1-1V6.125C21,5.572,20.553,5.125,20,5.125z M20,10.313H1c-0.552,0-1,0.447-1,1v0.563c0,0.553,0.448,1,1,1h19
            c0.553,0,1-0.447,1-1v-0.563C21,10.76,20.553,10.313,20,10.313z M20,15.438H1c-0.552,0-1,0.447-1,1V17c0,0.553,0.448,1,1,1h19
            c0.553,0,1-0.447,1-1v-0.563C21,15.885,20.553,15.438,20,15.438z"/>
  </symbol>  
  <symbol id="sadness" viewBox="0 0 25 37">
        <path d="M24.198,8.246c-0.826-3.254-3.593-5.08-5.537-5.334c-0.854-1.286-2.853-2.469-6.714-2.414
            C7.83,0.556,2.876,3.866,1.878,8.433c-0.674,3.091,0.699,7.197-1.022,8.858c0.232,0.029,0.495,0.015,0.897-0.171
            c-0.108,0.558-0.68,1.667-1.067,2.146c0.433,0.03,1.098-0.232,1.392-0.494c-0.093,0.339-0.711,0.972-1.005,1.142
            c0.907,0.242,2.802-0.588,3.401-2.082c-0.015,0.153-0.062,0.446-0.093,0.602c0.073,0.005,0.148-0.006,0.225-0.022
            c-0.041,0.651-0.027,1.836,0.075,2.104c0.037,0.099,0.182,0.277,0.384,0.481c-0.244,2.11-0.695,7.84-0.296,8.761
            c0.062,0.144,0.29,0.385,0.674,0.668c0.62,2.053,1.95,4.249,2.726,4.892c0.024,0.02,0.054,0.038,0.085,0.057
            c0.01,0.301,0.146,0.798,0.374,0.973c0.475,0.359,3.09,0.5,3.474,0.094c0.234-0.246,0.09-0.646-0.106-0.879
            c0.395-0.351,0.687-1.549,0.781-1.692c0.062-0.095,0.497-0.109,0.548-0.039c0.063,0.086,0.193,1.257,0.473,1.566
            c0.066,0.073,0.27,0.129,0.553,0.165c-0.094,0.089-0.184,0.199-0.236,0.317c-0.002,0.002-0.006,0.004-0.008,0.004l0.004,0.007
            c-0.048,0.113-0.061,0.236-0.006,0.356c0.193,0.429,2.188,0.342,2.573,0.089c0.339-0.223,0.448-0.678,0.492-0.957
            c0.319-0.084,0.585-0.193,0.745-0.332c0.812-0.694,2-2.874,2.3-4.417c0.49-0.392,0.753-0.741,0.817-0.933
            c0.14-0.409,0.07-1.551-0.085-2.38c1.263-1.085,1.886-3.589,0.554-5.933c0.238-0.261,0.402-0.488,0.439-0.627
            c0.111-0.432,0.048-2.915-0.236-4.185c0.109-0.19,0.211-0.386,0.302-0.587C22.723,16.412,25.386,12.919,24.198,8.246z"/>
  </symbol>  
  <symbol id="anger" viewBox="0 0 31 26">
        <path d="M29.415,15.323c0.101-0.128,0.186-0.252,0.247-0.371c-0.342-0.76-1.463-1.879-2.117-2.15
            c-0.061,0.062-0.129,0.144-0.205,0.236c-0.496-0.269-1.328-0.589-1.893-0.768c-0.775-4.746-1.568-9.36-1.914-10.777
            c-0.111-0.456-0.645-0.844-1.776-0.818c-1.132,0.026-2.94,0.48-5.31,0.48c-2.108,0-2.875-0.246-5.062-0.143
            C8.977,1.128,6.637,1.887,6.571,2.407C6.36,4.072,5.806,8.285,5.257,12.63c-0.561,0.222-1.497,0.641-2.167,0.95
            c-0.084-0.15-0.155-0.278-0.199-0.369c-0.615,0.564-1.23,1.303-1.542,2.092c0.008,0.126,0.041,0.253,0.093,0.379
            c-0.786,1.964-0.898,4.479-0.155,5.378c0.513,0.622,2.166,0.858,2.898,0.492c-0.112,1.029-0.196,1.887-0.241,2.492
            c-0.027,0.069-0.042,0.143-0.042,0.222c0.015,1.775,7.775,1.448,10.959,0.758c0.447,0.15,1.246,0.136,1.796-0.01
            c4.328,1.064,10.76,0.75,10.669-0.838c-0.003-0.058-0.018-0.11-0.04-0.16c-0.088-0.617-0.234-1.602-0.422-2.822
            c0.988,0.081,2.654-0.549,3.061-1.629C30.34,18.464,29.827,16.156,29.415,15.323z"/>
  </symbol>  
  <symbol id="disgust" viewBox="0 0 22 38">
        <path d="M17.02,15.345c0.197,0.239,0.407,0.451,0.631,0.622c1.285,0.99,2.932,0.726,3.857-0.26
            c-0.843,0.152-1.785-0.355-2.064-1.946c-0.398-2.283,1.567-7.78-0.236-9.272c-0.719-3.515-10.566-5.862-14.541-3.3
            C3.921,1.668,3.43,2.297,3.132,2.975c-0.045-0.079-0.079-0.146-0.1-0.192C2.845,2.376,2.538,2.644,2.724,3.025
            C2.766,3.111,2.85,3.249,2.966,3.414c-0.05,0.159-0.091,0.322-0.122,0.482C2.31,3.409,1.88,2.911,1.638,2.514
            C1.337,2.022,1.111,2.272,1.363,2.668c0.258,0.405,0.781,0.96,1.438,1.492C2.788,4.259,2.778,4.358,2.771,4.458
            C2.035,3.967,1.454,3.443,1.168,3.122C0.771,2.677,0.577,2.978,0.909,3.35C1.187,3.662,1.891,4.234,2.76,4.744
            C2.758,4.863,2.761,4.981,2.768,5.099C2.528,4.998,2.336,4.902,2.23,4.827C1.808,4.525,1.711,4.819,2.1,5.086
            c0.149,0.103,0.396,0.213,0.696,0.316C2.93,6.486,3.412,7.4,4.002,7.729c-0.198,1.165-0.422,2.681-0.257,3.452
            c0.25,1.168,2.66,2.505,3.254,2.851c0.5,0.291,1.237,0.696,2,0.761l0.175,0.476c-0.476,0.359-1.389,1.182-1.873,1.719
            c-0.269,0.036-0.49,0.204-0.631,0.456c-0.217,0.118-0.376,0.323-0.401,0.565c-0.06,0.111-0.087,0.241-0.07,0.386
            c-0.017,0.072-0.011,0.15,0.024,0.228c-0.53,0.766-0.214,1.466,0.189,1.575c0.431,0.114,1.274-0.354,2.287-0.964
            c-0.007,0.05-0.021,0.109-0.027,0.165c-2.331,1.379-4.73,4.712-4.935,7.423c0.551,1.232,2.193,1.492,2.776,1.806
            c0.583,0.313,1.373,1.115,2.258,1.353c0.105,0.028,0.21,0.051,0.314,0.07c0.504,1.292,1.796,3.878,1.765,4.191
            c-0.033,0.325-1.103,0.724-1.467,0.885c-0.567,0.253-0.417,0.889,0.259,0.804c0.454-0.057,0.827-0.121,1.167-0.178
            c0.34-0.058,1.415-0.058,1.602-0.373c0.186-0.316-0.104-0.82-0.111-1.275c-0.007-0.391,0.13-1.739,0.147-2.801
            c1.149,1.614,2.827,3.951,3.009,4.466c0.139,0.39-0.003,0.748,0.141,0.941c0.195,0.26,1.342,0.736,1.826,0.907
            c0.768,0.271,1.1-0.438,0.562-0.854c-0.378-0.293-0.991-0.891-1.285-1.525c-0.213-0.457-0.426-3.925-0.886-5.869
            c0.2-0.137,0.386-0.282,0.551-0.438c-0.311-3.059-1.644-6.747-4.07-9.128c0-0.049-0.004-0.197-0.008-0.308
            c0.482-0.377,0.895-1.258,1.021-2.206c0.138-1.03-0.157-2.035-0.825-2.228c-0.156-0.179-0.443-0.264-0.808-0.281l-0.015-0.145
            c1.978,0.271,2.893,2.68,5.657,2.513c-1.066-0.259-1.646-0.948-2.17-1.628c0.322-0.026,0.598-0.107,0.781-0.26
            c-0.652-0.073-1.078-0.858-2.46-1.262c-0.169-0.061-0.354-0.103-0.559-0.121c0.159-0.037,0.469-0.106,0.581-0.134
            C14.273,14.188,15.861,14.566,17.02,15.345z"/>
  </symbol>  
  <symbol id="posters" viewBox="0 0 24 25">
        <path d="M17.284,17.803V1.466c0-0.266-0.216-0.481-0.48-0.481H0.467
            c-0.265,0-0.48,0.216-0.48,0.481v16.337c0,0.266,0.215,0.48,0.48,0.48h16.337C17.068,18.283,17.284,18.068,17.284,17.803z
             M14.401,13.959h-0.971c0.002-0.021,0.01-0.039,0.009-0.06c-0.093-1.525-1.331-2.006-2.234-2.357
            c-0.419-0.162-0.851-0.331-0.976-0.533c-0.017-0.219-0.015-0.398-0.013-0.604v-0.011c0.203-0.245,0.374-0.62,0.46-0.966
            c0.191-0.136,0.386-0.399,0.448-0.906c0.032-0.258-0.024-0.47-0.117-0.632c0.146-0.537,0.357-1.653-0.117-2.419
            c-0.217-0.35-0.549-0.584-0.968-0.686C9.649,4.502,9.194,4.348,8.605,4.348h0C7.679,4.365,6.997,4.654,6.577,5.211
            c-0.465,0.615-0.568,1.51-0.306,2.664C6.173,8.039,6.112,8.257,6.145,8.521c0.062,0.508,0.257,0.771,0.448,0.907
            c0.088,0.348,0.264,0.725,0.472,0.97v0.005c0.002,0.205,0.003,0.386-0.013,0.605c-0.125,0.204-0.559,0.371-0.979,0.533
            c-0.907,0.352-2.149,0.833-2.242,2.357c-0.001,0.021,0.007,0.039,0.008,0.06h-0.97V3.869h11.532V13.959z M23.938,8.353
            c-0.066-0.109-0.175-0.185-0.299-0.214l-1.365-0.313l-2.362,13.91c-0.118,0.696-0.716,1.201-1.421,1.201
            c-0.075,0-0.152-0.006-0.242-0.02L3.562,20.423l-0.079,0.342c-0.029,0.124-0.007,0.255,0.061,0.363
            c0.068,0.109,0.175,0.185,0.3,0.213l15.923,3.657c0.035,0.008,0.071,0.013,0.107,0.013c0.089,0,0.179-0.025,0.255-0.073
            c0.108-0.067,0.186-0.176,0.214-0.301l3.656-15.923C24.027,8.59,24.006,8.459,23.938,8.353z M18.49,21.977
            c0.23,0,0.434-0.165,0.473-0.4l2.736-16.107c0.044-0.261-0.132-0.508-0.394-0.554l-3.061-0.521v2.925l0.209,0.036l-0.209,1.23
            v9.217c0,0.795-0.646,1.442-1.441,1.442H2.358L18.41,21.97C18.438,21.974,18.464,21.977,18.49,21.977z"/>
  </symbol>  
  <symbol id="movies" viewBox="0 0 22 26">
        <path d="M16.805,20.35l0.012-20.212c0-0.257-0.261-0.002-0.518-0.002
            H0.477c-0.257,0-0.466,0.209-0.466,0.466V20.35c0,0.264,0.209,0.476,0.467,0.476h15.86C16.596,20.825,16.805,20.613,16.805,20.35z
             M5.148,15.659v-9.05l7.791,4.525L5.148,15.659z M19.375,2.75h-1.25v19.406h-15.5v1.25h16.75V2.75z M20.688,5.313v19.406h-15.5V26
            H22V5.313H20.688z"/>
  </symbol> 
  <symbol id="old" viewBox="0 0 51 51">
        <path d="M50.856,16.92c-0.009-2.045-0.772-3.897-2.179-5.293
            l-8.926-8.826c-1.48-1.434-3.338-2.184-5.569-2.174L17.389,0.698c-2.232,0.009-4.12,0.773-5.551,2.22l-8.852,8.9
            c-1.394,1.407-2.142,3.267-2.134,5.312l0.072,17.082c0.009,2.349,0.812,4.164,2.407,5.71l8.47,8.41
            c1.671,1.66,3.527,2.41,5.91,2.362l16.567-0.069c2.307-0.009,4.195-0.7,5.891-2.411l8.4-8.483
            c1.543-1.558,2.367-3.418,2.357-5.729L50.856,16.92z M46.253,37.43l-8.399,8.482c-0.98,0.99-2.074,1.449-3.437,1.455l-16.87,0.07
            c-1.362,0.006-2.46-0.445-3.448-1.425l-8.47-8.411C4.641,36.62,4.183,35.6,4.215,34.198l-0.07-16.704
            c-0.006-1.4,0.443-2.614,1.46-3.642l8.55-8.748c0.866-0.874,1.962-1.145,3.21-1.149l16.87-0.071
            c1.248-0.004,2.347,0.255,3.22,1.123l8.622,8.677c0.988,1.018,1.486,2.228,1.492,3.629l0.021,5.455
            c0.004,0.566-0.26,0.871-0.791,0.874l-2.533,0.01l-0.008-1.779c-0.005-1.326-0.197-2.007-1.332-2.002l-1.135,0.005
            c-1.135,0.005-1.32,0.688-1.315,2.013l0.008,1.779l-1.778,0.008c-1.324,0.005-2.004,0.198-1.999,1.334l0.005,1.213
            c0.005,1.136,0.687,1.322,2.011,1.316l1.778-0.007l0.007,1.78c0.006,1.324,0.198,2.006,1.332,2.002l1.135-0.005
            c1.134-0.004,1.321-0.688,1.315-2.013l-0.007-1.781l2.534-0.01c0.491-0.002,0.758,0.261,0.797,0.754l0.024,5.757
            C47.644,35.417,47.232,36.479,46.253,37.43z M25.919,23.576c-0.946,0.005-1.891,0.084-2.874,0.278
            c-0.378,0.078-0.681-0.072-0.683-0.527l-0.003-0.758c-0.015-3.561,0.244-4.848,3.232-4.861c2.572-0.01,3.14,0.138,3.148,1.995
            c0.003,0.756,0.534,0.982,1.403,0.978l0.908-0.003c1.059-0.005,1.474-0.271,1.469-1.295c-0.018-4.47-1.951-5.598-6.377-5.579
            c-6.922,0.029-7.705,2.836-7.667,11.699c0.074,8.559-0.402,12.349,7.353,12.316c4.917-0.021,7.104-1.658,7.078-7.908
            C32.883,24.76,30.496,23.558,25.919,23.576z M25.887,34.031c-2.686,0.011-3.483-0.742-3.492-2.978l-0.015-3.599
            c0.945-0.23,1.965-0.462,3.062-0.467c2.912-0.013,3.559,0.742,3.57,3.394C29.021,32.806,28.686,34.02,25.887,34.031z"/>
  </symbol> 
  <symbol id="star" viewBox="0 0 15 15">
        <path d="M14.93,5.59c-0.129-0.386-0.462-0.669-0.862-0.73l-3.892-0.6
            L8.484,0.621C8.306,0.239,7.925-0.005,7.506-0.005s-0.8,0.244-0.978,0.626L4.836,4.26l-3.893,0.6
            c-0.4,0.062-0.732,0.345-0.861,0.73c-0.128,0.389-0.031,0.815,0.251,1.106l2.853,2.949l-0.661,4.092
            c-0.067,0.413,0.105,0.826,0.443,1.066c0.186,0.133,0.404,0.2,0.622,0.2c0.18,0,0.36-0.045,0.523-0.136l3.393-1.893l3.394,1.893
            c0.163,0.091,0.343,0.136,0.522,0.136c0.218,0,0.437-0.067,0.623-0.2c0.338-0.24,0.51-0.653,0.443-1.066l-0.662-4.092l2.854-2.949
            C14.96,6.404,15.057,5.979,14.93,5.59z M11.053,8.886c-0.239,0.247-0.348,0.595-0.293,0.937l0.662,4.092l-3.394-1.892
            c-0.163-0.091-0.342-0.136-0.522-0.136c-0.18,0-0.359,0.046-0.522,0.136l-3.394,1.892l0.662-4.092
            C4.307,9.48,4.198,9.133,3.959,8.886L1.106,5.937l3.892-0.601C5.354,5.281,5.66,5.051,5.813,4.722l1.692-3.637l1.692,3.637
            c0.153,0.33,0.459,0.56,0.814,0.614l3.893,0.602L11.053,8.886z"/>
  </symbol>
  <symbol id="starfull" viewBox="0 0 15 15">
        <path d="M14.93,5.59c-0.129-0.386-0.462-0.669-0.862-0.73l-3.892-0.6
            L8.484,0.621C8.306,0.239,7.925-0.005,7.506-0.005s-0.8,0.244-0.978,0.626L4.836,4.26l-3.893,0.6
            c-0.4,0.062-0.732,0.345-0.861,0.73c-0.128,0.389-0.031,0.815,0.251,1.106l2.853,2.949l-0.661,4.092
            c-0.067,0.413,0.105,0.826,0.443,1.066c0.186,0.133,0.404,0.2,0.622,0.2c0.18,0,0.36-0.045,0.523-0.136l3.393-1.893l3.394,1.893
            c0.163,0.091,0.343,0.136,0.522,0.136c0.218,0,0.437-0.067,0.623-0.2c0.338-0.24,0.51-0.653,0.443-1.066l-0.662-4.092l2.854-2.949
            C14.96,6.404,15.057,5.979,14.93,5.59z"/>
  </symbol>
  <symbol id="game" viewBox="0 0 24 18">
        <path d="M23.746,9.673c-0.391-2.58-0.93-5.13-2.347-7.371
        c-1.615-2.555-4.554-3.002-6.849-1.103C13.02,2.468,11.531,2.5,9.914,1.3C7.072-0.81,4.458-0.322,2.623,2.693
        c-1.427,2.345-2.06,4.955-2.455,7.646c-0.258,1.755-0.315,3.48,0.423,5.14c1.163,2.614,3.757,3.302,5.947,1.486
        c0.843-0.699,1.519-1.623,2.187-2.509c0.556-0.737,1.125-1.202,2.127-1.065c0.803,0.109,1.634,0.045,2.451,0.014
        c0.852-0.032,1.459,0.284,2.018,0.964c0.83,1.009,1.718,2.002,2.722,2.829c1.971,1.624,4.9,0.628,5.521-1.841
        c0.256-1.013,0.33-2.071,0.449-2.869C23.91,11.375,23.875,10.518,23.746,9.673z M9.724,8.096C9.21,8.088,8.696,8.095,8.07,8.095
        c0,0.673-0.001,1.223,0.001,1.773c0.002,0.638-0.369,0.868-0.94,0.877c-0.596,0.009-1.037-0.179-1.041-0.881
        c-0.003-0.552,0-1.104,0-1.77c-0.612,0-1.127-0.005-1.641,0.001c-0.678,0.008-0.92-0.367-0.916-1
        c0.005-0.616,0.216-1.026,0.899-1.029c0.516-0.001,1.032,0,1.658,0c0-0.635-0.003-1.186,0.001-1.735
        c0.006-0.698,0.423-0.878,1.037-0.872c0.59,0.007,0.943,0.222,0.943,0.857c0,0.525,0,1.051,0,1.75h1.663
        c0.687,0,0.884,0.406,0.891,1.026C10.63,7.729,10.41,8.106,9.724,8.096z M15.742,9.989c-0.721-0.002-1.359-0.657-1.361-1.398
        c-0.002-0.752,0.615-1.374,1.361-1.374c0.771,0,1.344,0.586,1.342,1.373C17.084,9.35,16.469,9.991,15.742,9.989z M18.172,6.861
        c-0.727-0.038-1.354-0.733-1.265-1.47c0.095-0.78,0.55-1.256,1.354-1.278c0.729-0.02,1.354,0.677,1.326,1.417
        C19.561,6.281,18.902,6.899,18.172,6.861z"/>
  </symbol>